<div class="row">
  <div class="col-xs-10">
    {{deploy-instructions app=model sshKeys=sshKeys}}

    <p>
      <a href="#" class="danger" {{action "delete" model}}>Delete {{model.handle}}</a>
    </p>
  </div>
</div>
