<section class="risk-assessment-component__section">
  <div class="risk-assessment-container">
    <h3 class="risk-assessment-component__section__title">Threat Events</h3>
    <div class="aptable">
      {{threat-event-list threatEvents=model.threatEvents}}
    </div>
  </div>
</section>

<section class="risk-assessment-component__section">
  <div class="risk-assessment-container">
    <h3 class="risk-assessment-component__section__title">Vulnerabilities</h3>
    <div class="aptable">
      {{vulnerability-list vulnerabilities=model.vulnerabilities}}
    </div>
  </div>
</section>
