{{#dashboard-dropdown-item classNames='title'}}
  {{user.name}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{#link-to-aptible path='settings/profile' app='dashboard'}}
    Profile
  {{/link-to-aptible}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{#link-to-aptible path='settings/admin' app='dashboard'}}
    Account
  {{/link-to-aptible}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{#link-to-aptible path='settings/ssh' app='dashboard'}}
    SSH Keys
  {{/link-to-aptible}}
{{/dashboard-dropdown-item}}

{{dashboard-dropdown-divider}}

<div>
  {{#dashboard-dropdown-item}}
    {{#link-to-aptible path='logout' app='dashboard'}}
      Logout
    {{/link-to-aptible}}
  {{/dashboard-dropdown-item}}
</div>