{{#if authorization.hasAnyOrganizationsWithEnclaveProduct}}
  {{#link-to 'enclave' tagName="li"}}
    {{link-to 'Enclave' 'enclave' class="enclave-nav" bubbles=false}}
  {{/link-to}}
{{/if}}

{{#if authorization.hasAnyOrganizationsWithGridironProduct}}
  {{#if showSheriff}}
    {{#link-to 'gridiron' tagName="li"}}
      {{link-to 'Gridiron' 'gridiron' class="gridiron-nav" bubbles=false}}
    {{/link-to}}
  {{else}}
    <li>
      {{#link-to-aptible app="compliance" path=""}}Compliance Tools{{/link-to-aptible}}
    </li>
  {{/if}}
{{/if}}

{{#each authorization.organizations as |organization|}}
  {{#link-to 'organization' organization.id tagName="li"}}
    {{link-to (concat organization.name ' Settings')  'organization' organization.id class="organization-nav" bubbles=false}}
  {{/link-to}}
{{/each}}

