<div class="container">
  {{link-to 'Risk Assessment' 'risk-assessment' 1}}
  <h3>View risk assessment component</h3>
  {{link-to 'Edit' 'risk-assessment-component.edit'}}

  Title: {{model.title}}
  Description: {{model.description}}
</div>