<div class="risk-assessment__index">
  <div class="risk-assessment__filters">
    {{security-controls-filters filters=filters}}
  </div>

  <div class="aptable">
    {{security-controls-list filters=filters securityControls=model}}
  </div>
</div>
