<header class="new-header">
  <div class="container">
    <div class='header-left'>
      <h2 class="sub-title">Security Program</h2>
      <h1 class="title">Workforce</h1>
    </div>
    {{#if model.isDirty}}
      <div class="header-right">
        <ul class="header-actions">
          <li>
            <button {{action 'save'}} class="btn btn-default btn-sm save-settings">Save</button>
          </li>
        </ul>
      </div>
    {{/if}}
  </div>
</header>

<div class="container main-body">
  {{spd-errors errors=errors}}
  <div class="panel panel-striped">
    <div class="panel-section">
      <div class="panel-section-title">About Your Organization</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      {{textarea value=model.aboutOrganization rows="5" class="form-control" name="aboutOrganization"}}
    </div>

    <div class="panel-section">
      <div class="panel-section-title">Description of your productions</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      {{textarea value=model.aboutProduct rows="5" class="form-control" name="aboutProduct"}}
    </div>
  </div>
</div>