<header class="layout-header">
  {{partial "header"}}
  {{#unless session.currentUser.verified}}
    {{verification-code-reset}}
  {{/unless}}
</header>

<div class="layout-body">
  {{yield}}
</div>

<footer class="layout-footer">
  {{partial "nav-footer"}}
</footer>


