{{partial "current-user-header"}}
{{partial "nav-header"}}

<div id="main-yield-wrapper" style="min-height: 504px;">
  <div class="container">
    <div class="alerts-partial-wrapper">
    </div>
  </div>

  {{outlet}}
</div>

{{partial "nav-footer"}}
