<header class="layout-header">
  {{partial "focus-header"}}
</header>

<div class="layout-body">
  <div class="container focus">
    {{yield}}
  </div>
</div>

<footer class="layout-footer">
  {{partial "nav-footer"}}
</footer>


