.success {
  color: $color-success;
  font-weight: $weight-semibold;
}

.danger {
  color: $color-danger;
  font-weight: $weight-semibold;
}


tr.empty-row td {
  text-align: center;
}


a:not([href]) {
  cursor: pointer;
}

.progress-bar {
  box-shadow: none;
  background-color: $color-bright-blue;
}

header.resource-header {
  border-bottom: 1px solid $color-border-gray;

  .resource-title {
    @extend %clearfix;

    h1 {
      float: left;
      margin: 6px 0 0 0;
      font-size: 20px;
      font-weight: $weight-semibold;
      color: $color-primary;

      &.resource-breadcrumb {
        color: $color-light;

        .current {
          color: $color-primary;
          margin: 0 0 0 10px;
        }
      }

      .resource-affix {
        font-size: 16px;
        color: $color-light;
      }
    }

    h2.heading--sm {
      margin: 0;
    }

    .resource-icon {
      float: left;
      margin-right: 11px;
    }

    .resource-title-link a {
      color: $color-light;
      font-size: 12px;
      display: inline-block;
      vertical-align: 3px;
      margin: 0 0 0 20px;

      i.fa {
        vertical-align: 0;
      }

      &:hover, &:active, &:link {
        text-decoration: none;
        color: $color-bright-blue;
      }
    }
  }

  .resource-breadcrumb {
    margin: 0 0 6px;
    display: inline-block;
    font-size: 11px;

    i.fa {
      vertical-align: 0;
      margin: 0 4px 0 0;
      font-size: 10px;
    }
  }

  .resource-metadata {
    @extend %clearfix;
    clear: both;
    margin: 0;
    padding: 0;

    .resource-metadata-item.resource-metadata-button {
    }

    .resource-metadata-item.with-image {
      margin-left: 40px;
    }

    .resource-metadata-item {
      float: left;
      margin: 25px 30px 0 0;
    }
  }
}

.stack-select-button.dropdown-toggle {
  border: 0;
  background: none;
  box-shadow: none;
  margin-left: -6px;

  .resource-title {
    margin: 0 8px 0 0;
  }

  i.fa.fa-chevron-down {
    color: $color-primary;
    vertical-align: 1px;
  }
}

.resource-metadata-item.resource-metadata-button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: #f0f0f0;
  border-radius: 3px;
  text-align: center;
  color: $color-light;

  i.fa {
    margin: 0;
    vertical-align: -6px;
  }

  &:hover {
    color: $color-primary;
  }
}

.resource-metadata-item {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.with-image {
    margin-left: 40px;

    .resource-metadata-title {
      margin: -1px 0 7px;
    }
  }

  .resource-metadata-image {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -40px;

    img {
      border-radius: 3px;
    }
  }

  .resource-metadata-title {
    color: $color-light;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: $weight-semibold;
    margin: 0 0 9px;
  }

  .resource-metadata-value {
    color: $color-subdued;
    font-size: 13px;
    font-weight: $weight-normal;
    margin: 0;

    a {
      display: inline-block;
      margin-left: 6px;
    }

    .reveal-link {
      margin: 0;
    }

    &.db-connection-url-value {
      min-width: 600px;
    }
  }
}

.sensitive-indicator {
  background: $color-danger;
  font-size: 10px;
  font-weight: $weight-semibold;
  border-radius: 3px;
  padding: 4px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

@-webkit-keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: yellow;}
   100% {background: none;}
}

.highlight {
   -webkit-animation: yellow-fade 1s ease-in 1;
   animation: yellow-fade 1s ease-in 1;
}

// Flex box header row option to keep columns from wrapping
header.resource-header .resource-metadata--flex {
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  .resource-metadata-item {
    min-width: 0;
    float: none;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .resource-metadata-title {
    white-space: nowrap;
  }
}

.panel-body {
  .resource-metadata-item {
  }

  .resource-metadata-title {

  }

  .resource-metadata-value {
    font-size: 13px;
    color: $color-light;
  }
}

.resource-navigation {
  margin: 0 0 30px;

  > li {
    > a {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: $weight-semibold;
      color: $color-subdued;
    }

    &.active {
      > a, > a:link, > a:active, > a:focus, a:hover {
        color: $color-primary;
        background: #eaeaea;
        outline: 0;
      }

      a:hover {
        cursor: default;
      }
    }
  }
}

.sort-group {
  margin: 0 0 10px;
}

.sort-header {
  font-weight: $weight-semibold;
  color: $color-light;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

/* This will replace resource-header */
header.new-header {
  @extend %clearfix;
  background: white;
  padding: 26px 0;

  .sub-title {
    color: $color-light;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: $weight-semibold;
    margin: 0 0 10px;
  }

  .title {
    font-size: 20px;
    margin: 0;
    font-weight: $weight-semibold;
  }

  .description {
    color: $color-light;
    margin: 24px 0 0;

    p {
      margin: 0 0 15px;
    }

    strong {
      color: $color-primary;
    }
  }

  .header-left {
    float: left;
    width: 50%;
  }

  .header-right {
    float: right;
  }

  .header-actions {
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 10px;
    }

    .fa-exclamation-circle {
      color: $color-danger;
    }

    .fa-check-circle {
      color: $color-success;
    }
  }
}

.main-body {
  margin-top: 30px;
  margin-bottom: 30px;
}
