// Fixes issue with grid cells of verying heights not wrapping correctly
.col-xs-4:nth-child(3n+1) {
  clear: left;
}

button > i.fa-spinner {
  margin: 0 4px 0 0;
}

.main-wrapper .layout-content {
  background: #fff;
  min-width: 970px;
  -webkit-flex: 1;
  flex: 1;
  background: #fafafa;
}

header.resource-header {
  background: #fff;
}

.panel-link .panel {
  border: 1px solid #fff;
}