// Fixes issue with grid cells of verying heights not wrapping correctly
.col-xs-4:nth-child(3n+1) {
  clear: left;
}

button > i.fa-spinner {
  margin: 0 4px 0 0;
}

.main-wrapper .layout-content {
  min-width: 970px;
  -webkit-flex: 1;
  flex: 1;
  background: #fafafa;
}

header.resource-header {
  background: #fff;
}

.flex-wrapper .layout-content {
  background-color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
}

.return-link {
  &::before {
    content: '←';
    display: inline-block;
    margin-right: 0.2em;
    transition: transform 0.25s ease-in-out;
    transform: translate(0, 0);
  }
  &:hover {
    text-decoration: none;
    &::before {
      transform: translate(-0.2em, 0);
    }
  }
}

.liquid-container {
  flex: 1;
}