.success {
  color: $color-success;
  font-weight: $weight-semibold;
}

.danger {
  color: $color-danger;
  font-weight: $weight-semibold;
}


tr.empty-row td {
  text-align: center;
}


a:not([href]) {
  cursor: pointer;
}

.progress-bar {
  box-shadow: none;
  background-color: $color-bright-blue;
}

header.resource-header {
  border-bottom: 1px solid $color-border-gray;

  .resource-title {
    @extend %clearfix;

    h1 {
      float: left;
      margin: 6px 0 0 11px;
      font-size: 20px;
      font-weight: $weight-semibold;
      color: $color-primary;

      &.resource-breadcrumb {
        color: $color-light;

        .current {
          color: $color-primary;
          margin: 0 0 0 10px;
        }
      }

      .resource-affix {
        font-size: 16px;
        color: $color-light;
      }
    }

    .resource-icon {
      float: left;
    }

    .resource-title-link a {
      color: $color-light;
      font-size: 12px;
      display: inline-block;
      vertical-align: 3px;
      margin: 0 0 0 20px;

      i.fa {
        vertical-align: 0;
      }

      &:hover, &:active, &:link {
        text-decoration: none;
        color: $color-bright-blue;
      }
    }
  }

  .resource-breadcrumb {
    margin: 0 0 6px;
    display: inline-block;
    font-size: 11px;

    i.fa {
      vertical-align: 0;
      margin: 0 4px 0 0;
      font-size: 10px;
    }
  }

  .resource-metadata {
    @extend %clearfix;
    clear: both;
    margin: 25px 0 0;
    padding: 0;

    .resource-metadata-item {
      float: left;
      margin-right: 30px;
    }
  }
}

.stack-select-button.dropdown-toggle {
  border: 0;
  background: none;
  box-shadow: none;
  margin-left: -6px;

  .resource-title {
    margin: 0 8px 0 0;
  }

  i.fa.fa-chevron-down {
    color: $color-primary;
    vertical-align: 1px;
  }
}

.resource-metadata-button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: #f0f0f0;
  border-radius: 3px;
  text-align: center;
  color: $color-light;

  i.fa {
    margin: 0;
    vertical-align: -6px;
  }

  &:hover {
    color: $color-primary;
  }
}

.resource-metadata-item {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.with-image {
    margin-left: 40px;

    .resource-metadata-title {
      margin: -1px 0 7px;
    }
  }

  .resource-metadata-image {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -40px;

    img {
      border-radius: 3px;
    }
  }

  .resource-metadata-title {
    color: $color-light;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: $weight-semibold;
    margin: 0 0 9px;
  }

  .resource-metadata-value {
    color: $color-subdued;
    font-size: 13px;
    font-weight: $weight-normal;
    margin: 0;

    a {
      display: inline-block;
      margin-left: 6px;
    }
  }
}

.panel-body {
  .resource-metadata-item {
  }

  .resource-metadata-title {

  }

  .resource-metadata-value {
    font-size: 13px;
    color: $color-light;
  }
}

.resource-navigation {
  margin: 0 0 30px;

  > li {
    > a {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: $weight-semibold;
      color: $color-subdued;
    }

    &.active {
      > a, > a:link, > a:active, > a:focus, a:hover {
        color: $color-primary;
        background: #eaeaea;
        outline: 0;
      }

      a:hover {
        cursor: default;
      }
    }
  }
}

.sort-group {
  margin: 0 0 10px;
}

.sort-header {
  font-weight: $weight-semibold;
  color: $color-light;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 20px;
}