.application-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.flex-wrapper {
  min-height: 100vh;
  max-width: 1270px;
  min-width: 960px;
  display: flex;
  width: 100%;
}

.main-wrapper {
  min-width: 1197px;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border: 1px solid #DFDFDF;
  border-width: 0 1px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.08);

  .layout-header {
    min-width: 1195px;
    -webkit-flex: none;
    flex: none;
  }

  .layout-footer {
    -webkit-flex: none;
    flex: none;

    .aptible-footer-small {
      padding: 20px;
      margin: 0;

      @extend %clearfix;
    }
  }

  .layout-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
  }

  .layout-content {
    min-width: 970px;
    -webkit-flex: 1;
    flex: 1;
    background: #fafafa;
  }

  .layout-sidebar {
    -webkit-order: -1;
    order: -1;
    -webkit-flex: 0 0 225px;
    flex: 0 0 225px;
    background: #fafafa;
    border-right: 1px solid #f0f0f0;
  }

  .layout-container {
    padding: 30px;
  }
}

.notifications {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  .alert {
    border-radius: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: $weight-semibold;
    text-align: center;
  }
}

.container {
  min-width: 970px;
  max-width: 1200px;
  width: auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-row-item {
  align-self: flex-end;
}
