.navbar-static-top {
  z-index: 2; /* bootstrap sets this to 1000  so it's visible over our modal overlays */
}

.lm-container {
  cursor: default;
}

.lf-overlay {
  z-index: 3;
  background-color: #fff;
  opacity: .95
}

.lf-dialog {
  width: 600px;
  max-width: 600px;
  padding: 0;
  border: 0;
  background: none;
  margin-top: -100px; /*Offset these upwards just a bit */
}

.modal-header {
  border: 0;
  padding: 0;
  margin: 0 0 30px;

  .modal-title {
    font-size: 20px;
    margin: 0 50px 30px 0;
    color: $color-primary;
  }

  .modal-description {
    font-size: 14px;
    color: $color-light;
  }
}

.modal-body {
  padding: 0;

  label {
    font-size: 15px;
  }

  .panel-body {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 30px;
  }
}

.modal-dismiss {
  float: right;
  cursor: pointer;
  margin-top: -10px;

  .modal-esc {
    opacity: 0;
    float: left;
    margin: 16px 8px 0 0;
    color: $color-light;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: $weight-semibold;
    transition-duration: 200ms;
  }

  .modal-times {
    color: $color-light;
    font-size: 30px;
    transition-duration: 200ms;
  }

  &:hover {
    .modal-esc {
      opacity: 1;
    }

    .modal-times {
      color: $color-primary;
    }
  }
}

.modal-body .panel-default {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
  border-radius: 3px;
}
