// Colors
$color-primary: #4a4a4a;
$color-subdued: #7a7a7a;
$color-light: #999;
$color-bright-blue: #3498db;
$color-dark-blue: #2980b9;
$color-success: #2ecc71;
$color-danger: #e74c3c;
$color-warning: #fd9e00;
$color-border-gray: #f0f0f0;
$color-bg-gray: #fafafa;

// Font Weights
$weight-lighter: 200;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;


// Deprecated
$color-border-light-gray: #f0f0f0;