// Colors
$color-primary: #4a4a4a;
$color-subdued: #7a7a7a;
$color-light: #999;
$color-bright-blue: #3F8CE8;
$color-dark-blue: #307AD1;
$color-success: #2ecc71;
$color-danger: #e74c3c;
$color-warning: #fd9e00;
$color-border-gray: #f0f0f0;
$color-bg-gray: #fafafa;

$color-border-blue: #e9ebf1;
$color-bg-blue: #f8f9fb;
$color-midnight-blue: #445464;

// Font Weights
$weight-lighter: 200;
$weight-normal: 400;
$weight-semibold: 600;
$weight-bold: 700;


// Deprecated
$color-border-light-gray: #f0f0f0;