// Don't use sprockets here:
// https://github.com/rails/sass-rails
@import "bower_components/animate/source/animate";
@import "bower_components/aptible-sass/dist/styles/aptible";
@import "bower_components/aptible-sass/dist/styles/aptible_dashboard";
$color-bright-blue: #3498db;

@import "layout";

@import "specific_resources/apps";
@import "specific_resources/compliance_dashboard";
@import "specific_resources/databases";
@import "specific_resources/operations";
@import "specific_resources/organizations";
@import "specific_resources/header";
@import "specific_resources/payment-method";
@import "specific_resources/resource";
@import "specific_resources/roles";
@import "specific_resources/service";
@import "specific_resources/sessions";
@import "specific_resources/sidebar";
@import "specific_resources/subscriptions";
@import "specific_resources/users";
@import "specific_resources/verify";
@import "specific_resources/vhost";
@import "specific_resources/welcome";

@import "components/button-with-confirmation";
@import "components/change-plan";
@import "components/clipboard";
@import "components/config-form";
@import "components/estimated-cost";
@import "components/flash-messages";
@import "components/focus";
@import "components/funnel";
@import "components/git-ref";
@import "components/provisioning";
@import "components/resource-header";
@import "components/resource-icon";
@import "components/save-progress";
@import "components/slider";
@import "components/user-gravatars";
@import "components/user-navigation";
@import "components/validation";
@import "components/verification-code-reset";
