// Don't use sprockets here:
// https://github.com/rails/sass-rails
@import "bower_components/animate/source/animate";
@import "bower_components/aptible-sass/dist/styles/aptible";
@import "bower_components/aptible-sass/dist/styles/aptible_dashboard";

@import "specific_resources/apps";
@import "specific_resources/cards";
@import "specific_resources/compliance_dashboard";
@import "specific_resources/databases";
@import "specific_resources/organizations";
@import "specific_resources/resource";
@import "specific_resources/roles";
@import "specific_resources/service";
@import "specific_resources/sessions";
@import "specific_resources/subscriptions";
@import "specific_resources/users";
@import "specific_resources/verify";
@import "specific_resources/vhost";

@import "components/resource-header";
@import "components/clipboard";
@import "components/config-form";
@import "components/focus";
@import "components/funnel";
@import "components/provisioning";
@import "components/slider";
@import "components/cost-estimate";
