{{#login-box}}
  {{#if flashMessages.queue}}
    <div class="notifications">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
  {{/if}}

  <div class="row">
    {{partial 'signup/form'}}

    <div class="col-xs-5">
      <div class="welcome-info">
        <h2>
          Welcome to Aptible
        </h2>
        <p>
          Use this page only to create a new account for your organization or project.
        </p>
        <p>
          If you don't have a user account, but need to join an existing organization, have one of the owners of the organization send you an invitation to join.
        </p>
      </div>
    </div>

  </div>
{{/login-box}}
