language: node_js
node_js:
- '0.12'
sudo: false
cache:
  directories:
  - node_modules
before_install:
- mkdir phantomjs-2.0.0
- wget https://s3.amazonaws.com/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -O phantomjs-2.0.0/phantomjs-2.0.0-ubuntu-12.04.tar.bz2
- tar -xvf phantomjs-2.0.0/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -C phantomjs-2.0.0/
- export PATH=$PWD/phantomjs-2.0.0:$PATH
- npm config set spin false
- npm install -g npm@^2
install:
- npm install -g bower
- npm install
- bower install
script:
- npm test
- script/travis-deploy.sh
env: # IAM: travis-s3
  secure: RdzCMUHB2dtmCc0IHEdIAvqItRhT45HLcr0C5s+lHIoImsNXatjjuHgOeCKlzn9Ewkx7Jkxt5q5ZBeOrQLEh8JTorGqrlpf40BQ46qd5tIScqwvQ4f2c6y06HGOzC2mbl1PK6w/7k76JfWcH0SNDG6exuCYViXkWhHb1oGxlJfA=
