{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Locations"
}}
  <div class="description">
    <p>
      Please add all Workforce Locations with 10 or more employees below.
    </p>
  </div>
{{/spd-nav}}

<div class="container main-body">
  <div class="spd-filterbar">
    <div class="pull-right">
      <button class="btn btn-primary" {{action "onAddLocation"}}>Add new location</button>
    </div>
  </div>

  {{location-index locations=validLocations}}

</div>
