{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Workforce Locations"
  onSave="onSave"
  attestation=attestation
}}
  <div class="description">
    <p>
      Add all commercial locations at which {{organization.name}} workforce members regularly work. Home offices and temporary remote locations do not need to be added
    </p>
  </div>
{{/spd-nav}}

<div class="container main-body">
  <div class="spd-filterbar">
    <div class="pull-right">
      <button class="btn btn-default add-location-button" {{action "onAddLocation"}}><i class="fa fa-plus"></i> Location</button>
    </div>
  </div>

  {{location-index locations=validLocations}}
</div>
