<select name="database-selector" {{action 'change' on='change'}} class="form-control">
  {{#each databases as |item|}}
    <option value="{{item.id}}">
      {{item.handle}}
    </option>
  {{/each}}
</select>
