<main class="layout-content">
  {{partial 'app/header'}}
  <div class="layout-container">
    {{#if model.hasBeenDeployed}}
      {{partial 'app/nav'}}
    {{/if}}
    {{outlet}}
  </div>
</main>

{{resource-sidebar resource=model stack=stack user=session.currentUser}}
