<div class="row">
<div class="col-xs-9">
  <div class="panel panel-default">
    {{partial 'database/replicate'}}
  </div>

  {{#if model.dependents}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Existing replicas for {{model.handle}}</h3>
      </div>
      <div class="panel-body">
        <p>
        {{partial 'database/dependents'}}
        </p>
      </div>
    </div>
  {{/if}}
</div>
</div>
