<div class="contents">
  {{yield}}
</div>

{{#if showProgressBar}}
  <div class="save-progress-bar">
    <div class="progress-message">{{progressMessage}}</div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style={{{progressWidth}}}>
      </div>
    </div>
  </div>
{{/if}}
