<div class="operations-list">
  {{#each model as |operation|}}
    {{operation-item operation=operation}}
  {{/each}}
</div>

{{aptible-pagination currentPage=currentPage
                     totalCount=totalCount
                     perPage=perPage
                     nextPage="nextPage"
                     prevPage="prevPage"}}