<li class="user-names__value">
  {{#if (gt users.length 0)}}
    {{names}}
  {{else}}
    {{placeholder}}
  {{/if}}
</li>
{{#if difference}}
  <li class="user-names__remainder">+ {{difference}} more</li>
{{/if}}
