<div class="panel-heading-actions">
  {{#if logDrain.isProvisioned}}
    <button class="btn btn-default btn-xs" {{action "restart" logDrain}}>Restart</button>
  {{/if}}
  {{#unless logDrain.hasBeenDeprovisioned}}
    <button class="btn btn-default btn-xs" {{action "deprovision" logDrain}}>Delete</button>
  {{/unless}}
</div>
