<div class="container main-body">
  <div class="getting-started">
    <h1>Design Security Program</h1>

    {{partial 'spd/steps'}}

    <div class="intro-text">
      Your Security Program reflects how you manage information security for your organization. This tool will help you design and update a program.
    </div>

    <div>
      <button class="btn btn-primary btn-lg" {{action "onNext"}}>Get Started →</button>
    </div>
  </div>
</div>

