<div class="container main-body">
  <div class="getting-started">
    <h1>Security Program Design</h1>

    {{partial 'spd/steps'}}

    <div class="intro-text">
      Configure your information security mangement program. 
    </div>

    <div>
      <button class="btn btn-primary btn-lg" {{action "onNext"}}>Get Started →</button>
    </div>
  </div>
</div>

