{{#each criteria as |criterion|}}
  <section class="compliance-section">
    {{training-status
      criterion=criterion
      organization=organization
      permissions=permissions}}
  </section>
{{/each}}
