<div class="layout-container">

  <div class="activate-notice activate-notice--micro">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>Your account doesn't have access to any environments</h1>
        <h2>This is likely because of an error during your account's initial setup.  Please contact support using the link below.</h2>
      </div>
    </div>
  </div>

</div>
