<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default panel-subdued">
      <div class="panel-heading">
        <h3>Cannot create a new {{resourceType}}</h3>
      </div>
      <div class="panel-body">
        <p>
        Before creating a new {{resourceType}}, you must verify your email.
        </p>
      </div>
    </div>
  </div>
</div>
