{{#unless isProvisioning}}
<button class="btn btn-default btn-xs" href="#" {{action 'delete' vhost}} disabled={{isDeprovisioning}}>
  {{#if isDeprovisioning}}
    Deprovisioning
  {{else}}
    Delete
  {{/if}}
</button>
{{/unless}}