<div class="panel white-panel">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th class="one-action"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Aptible Headquarters</strong></td>
        <td>155 Water St</td>
        <td>Brooklyn</td>
        <td>NY</td>
        <td>11201</td>
        <td class="row-actions one-action">
          <ul class="row-action-nav">
            <li>
              <a><i class="fa fa-times danger"></i></a>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td><strong>Skylar's House</strong></td>
        <td>8544 Preservation Way</td>
        <td>Indianapolis</td>
        <td>IN</td>
        <td>46278</td>

        <td class="row-actions one-action">
          <ul class="row-action-nav">
            <li>
              <a><i class="fa fa-times danger"></i></a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>