{{partial 'organization/members-toolbar'}}

<div class="sort-group organization-pending-invitations">
  <h3 class="heading heading--caps heading--sm">Pending Invitations</h3>

  <table class="aptable">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Invited By</th>
        <th>Invited On</th>
        <th class="aptable__actions"></th>
      </tr>
    </thead>

    <tbody>
      {{#each sortedInvites as |invitation|}}
        {{partial 'organization/invited-user-table-row'}}
      {{/each}}
    </tbody>
  </table>
</div>
