{{partial 'organization/members-toolbar'}}

<div class="sort-group organization-pending-invitations">
  <ul class='aptable__nav'>
    {{#if organization.invitations}}
      {{#activating-item currentWhen="organization.members.index" tagName="li"}}
        {{link-to "Members" "organization.members.index"}}
      {{/activating-item}}
      {{#activating-item currentWhen="organization.members.pending-invitations" tagName="li"}}
        {{link-to "Pending Invitations" "organization.members.pending-invitations"}}
      {{/activating-item}}
    {{/if}}
  </ul>

  <table class="aptable">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Invited By</th>
        <th>Invited On</th>
        <th class="aptable__actions"></th>
      </tr>
    </thead>

    <tbody>
      {{#each sortedInvites as |invitation|}}
        {{partial 'organization/invited-user-table-row'}}
      {{/each}}
    </tbody>
  </table>
</div>
