//
// Aptible Table Component
//
.aptable {
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: 3px;
  border-collapse: separate;
  width: 100%;

  table {
    width: 100%;
  }

  th, td {
    background-color: #fff;
    border-left: 1px solid #e0e0e0;
    padding: 11px 20px;
    transition: background-color 0.25s ease-in-out;

    &:first-child {
      border-left: none;
    }
  }

  thead tr:first-child {
    th {
      &:first-child {
        border-top-left-radius: 3px
      }

      &:last-child {
        border-top-right-radius: 3px;
      }
    }
  }

  tr:last-child {
    td {
      &:first-child {
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-bottom-right-radius: 3px;
      }
    }
  }

  tr:nth-child(even) td {
    background: #fafafa;
  }

  th {
    border-bottom: 1px solid #e0e0e0;
    color: $color-light;
    font-size: 12px;
    font-weight: $weight-semibold;
    text-transform: uppercase;
  }

  tr:hover {
    td {
      background-color: #f7f8fb;
    }
  }
}

.aptable__row-heading {
  font-size: 13px;
  font-weight: $weight-semibold;
  color: $color-primary;
}

.aptable__capitalized-list {
  text-transform: capitalize;
  font-weight: $weight-semibold;
  color: $color-light;
}

.aptable__actions {
  .btn {
    color: #999;
  }

  .btn.btn-xs.btn--link {
    padding: 1px 4px;
  }
  .x-toggle:checked + .x-toggle-light.x-toggle-btn {
    background-color: #2ba4ef;
  }
  .x-toggle-container-disabled {
    opacity: 0.6;
  }
  .btn__tip {
    opacity: 0;
    cursor: pointer;
    height: 28px;
    padding: 5px 8px 3px;
    position: absolute;
    transform: translate(25px, -28px);
  }
}
.aptable__actions--skinny {
  width: 120px;
}
.aptable__actions--checkbox {
  width: 155px;
}
