h1.dashboard-header {
  font-size: 20px;
  margin: 40px 0;
  font-weight: $weight-semibold;
}



section.compliance-section {
  margin: 0 0 10px;

  header {
    @extend %clearfix;
    color: #b8b8b8;
    margin: 0 0 10px;

    .header-title {
      float: left;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: $weight-semibold;
      color: $color-light;
      margin-right: 7px;
    }

    i.fa {
      float: left;
      font-size: 15px;
      vertical-align: 0;
      margin-right: 9px;
    }

    .badge {
      float: left;
      background: $color-danger;
      color: #fff;
      font-weight: $weight-semibold;
      font-size: 12px;
      padding: 3px 4px;
      border-radius: 4px;
      margin: -2px 0 0 4px;
      display: inline-block;
    }
  }

  &.spd-required {
    opacity: 0.3;
    pointer-events: none;
  }
}

.spd-notice {
  margin: 0 0 50px;
}

.compliance-status-table-panel {
  .panel-row {
    @extend %clearfix;
    padding: 15px;

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border: 0;
      border-radius: 3px 3px 0 0;
    }

    > a, > h3 {
      font-weight: $weight-semibold;
      font-size: 14px;
      display: inline-block;
      margin: 0 7px 0 0;
    }

    .description {
      font-size: 12px;
      color: $color-light;
    }

    &:nth-child(even) {
      background: $color-bg-gray;
    }
  }
}