h1.dashboard-header {
  font-size: 20px;
  margin: 40px 0;
  font-weight: $weight-semibold;
}

section.compliance-section {
  margin: 0 0 30px;

  header {
    @extend %clearfix;
    color: #b8b8b8;
    margin: 0 0 20px;

    .header-title {
      float: left;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: $weight-semibold;
      color: $color-light;
      margin-right: 7px;
    }

    i.fa {
      float: left;
      font-size: 15px;
      vertical-align: 0;
      margin-right: 9px;
    }

    .badge {
      float: left;
      background: $color-danger;
      color: #fff;
      font-weight: $weight-semibold;
      font-size: 12px;
      padding: 3px 4px;
      border-radius: 4px;
      margin: -2px 0 0 4px;
      display: inline-block;
    }
  }
}


