.data-environment-provider {
  &.sm {
    &.aptible {
      img {
        height: 30px;
      }
    }

    &.google {
      img {
        height: 30px;
      }
    }

    &.aws {
      img {
        height: 38px;
      }
    }
  }
}