//
// Some adjustments to bootstrap labels
// http://getbootstrap.com/components/#labels
//
.label {
  background-color: #2BA4EF;
  border-radius: 3px;
  font-size: 11px;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: 100;
}
.label-danger {
  background-color: #DF5365;
}
.label-success {
  background-color: #7ED321;
}
