//
// Some adjustments to bootstrap labels
// http://getbootstrap.com/components/#labels
//
.label {
  background-color: #2BA4EF;
  border-radius: 3px;
  font-size: 11px;
  padding: 7px 8px 8px;
  text-transform: uppercase;
  font-weight: $weight-semibold;
}

.label-danger {
  background-color: #DF5365;
}

.label-success {
  background-color: #7ED321;
}

.label-info {
  background-color: #9B9B9B;
}
