.progress-radial {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  .overlay {
    // height, line-height, width set inline
    border-radius: 50%;
    color: $color-primary;
    font-size: 16px;
    font-weight: $weight-semibold;
    position: absolute;
    text-align: center;
  }
}

.panel.progress-radial-panel {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: none;

  > a {
    display: block;
    &:active, &:hover {
      text-decoration:none;
      * {
        text-deocration: none;
      }
    }
  }

  &:hover, &:active {
    border: 1px solid $color-bright-blue;
    -moz-box-shadow: 0 0 8px rgba($color-bright-blue, .5);
    box-shadow: 0 0 8px rgba($color-bright-blue, .5);
  }

  .progress-radial-label {
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 11px;
    margin: 20px 0 0;
    font-weight: $weight-semibold;
    color: $color-light;
  }

  .active & {
    border: 1px solid #e5e5e5;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);

    > a:active, a:link, a:visited {
      text-decoration: none !important;
    }
  }
}

.green-progress-radial {
  .progress-radial-guage-path {
    stroke: $color-success;
  }
  .overlay {
    color: $color-success;
  }
}

.red-progress-radial {
  .progress-radial-guage-path {
    stroke: $color-danger;
  }
  .overlay {
    color: $color-danger;
  }
}

.progress-radial-guage {
  margin-left: -50%;
  position: absolute;
}

.progress-radial-guage-guide {
  fill: none;
  stroke: #f0f0f0;
}

.progress-radial-guage-path {
  // stroke-dasharray 2πrand stroke-dashoffset are set inline to
  // 2πr and (2πr - (2πr * percentComplete)) respectively
  fill: none;
  stroke: black;
  stroke-linecap: butt;
  // Reflect the path to go clockwise from 12 o'clock
  transform: scaleY(-1);
  transform-origin: 50px 50px;
  transition: stroke-dashoffset 2s ease-in-out;
}
