.ra-list-item {
  background-color: white;
  margin: 0 auto 30px;
  max-width: 900px;
  min-width: 600px;
  width: 75%;
}

//
// status header component
// Used on list item and as a general header
//
.ra__status-header {
  background-color: #ececec;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 100;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: $weight-semibold;

  .ra-list-item & {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .container {
      max-width: auto;
      min-width: auto;
      padding: 0;
      width: auto;
    }
  }
}
.ra__status-header--current {
  background-color: #2ecc71;
  color: white;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.22);
}
.ra__status-header--draft {
  background-color: #445464;
  color: white;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.22);
}

.ra__status {
  color: #9b9b9b;
  margin-left: 5px;
}
.ra__status--draft {
  color: #c6e0fe;
}
.ra__status--current {
  color: #cdffe2;
}

.ra-list-item__body {
  padding: 20px 20px 0;
}

.ra-list-item__hgroup {
  float: left;
}

.ra-list-item__title {
  color: #4a4a4a;
  font-size: 16px;
  margin: 0 0 10px 0;
  // Weird, but the the status comes lowercase from the API,
  // so we capitalize it, but we want a lowercase "v" for version: v1
  text-transform: capitalize;
  &:first-letter {
    text-transform: lowercase;
  }
}

.ra-list-item__sub-title {
  color: #9b9b9b;
  font-size: 13px;
  margin: 0;
}

.ra-list-item__indexes {
  float: right;
}

.ra-list-item__contributors {
  display: inline-block;
}
.user-gravatars__title {
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 600;
  margin-top: 0;
}

.ra-list-item__footer {
  clear: both;
  @include clearfix;
  margin-bottom: 5px;
  padding: 20px 20px 0;
}

.ra-list-item__contributors {
  float: left;
  margin-right: 30px;
}

.ra-list-item__actions {
  float: right;
  .btn {
    margin-left: 10px;
  }
}
