
/* begin */
$border-blue: #E9EBF1;
$bg-blue: #FCFDFF;

.application-wrapper {
  background: $bg-blue;
}
/* end */

.risk-assessment__main {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.11);
  min-height: 100vh;
}

.risk-assessment-header {
  @extend %clearfix;
  padding-bottom: 0;
  border-bottom: 1px solid $border-blue;
}

.risk-assessment-header__sub-title {
  font-size: 14px;
  color: $color-light;
}

.risk-assessment-header__title {
  font-size: 24px;
  color: $color-primary;
  margin: 0;
}

.risk-assessment-header__back-to-index {
  font-size: 11px;
  font-weight: $weight-semibold;
  text-decoration: none;
}

.risk-assessment-header__title-info {
  margin: 50px 0 30px;
}

.risk-assessment-header__component-description {
  color: $color-light;
  font-size: 14px;
}

.risk-assessment-header__component-big-stats {

}

.risk-assessment-header__actions {
  margin: 80px 0 0;
  float: right;
}

.risk-assessment-header__action {
  margin-left: 10px;
}

.risk-assessment-header__tabs {
  margin: 20px 0 0;
  border-bottom: 0;
  clear: both;

  a {
    font-weight: $weight-semibold;
  }
}

.risk-assessment-header__component_micro-stats {
  clear: both;
  margin: 40px 0;

  > ul {
    margin: 0;
    padding: 0;
  }
}

.risk-assessment-header__component_micro-stats__item {
  display: inline-block;
  margin: 0 25px 0 0;

  .risk-assessment-header__component_micro-stats__item__title {
    color: $color-light;
    font-weight: $weight-semibold;
    text-transform: uppercase;
    margin: 0 8px 0 0;
  }

  .risk-assessment-header__component_micro-stats__item__value {
    font-size: 18px;
    font-weight: $weight-semibold;
  }
}


.risk-assessment__filters__clear {
  font-size: 11px;
  display: inline-block;
}

.risk-assessment-container {
  max-width: 1040px;
  margin: 0 auto;
}

.risk-components-nav {
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
}

ul.risk-components-nav {
  list-style: none;
  padding: 0;
}

a.risk-components-nav__link {
  color: #4a4a4a;
}

.risk-assessment__index {
  margin: 30px 0;
}

.risk-assessment-component {}

.risk-assessment-component__section {
  padding: 30px 0;
  border-bottom: 1px solid $border-blue;
}

.risk-assessment-component__section__title {
  margin: 0 0 30px;
  font-size: 16px;
  font-weight: $weight-semibold;
}

.risk-assessment-component__section_final {
  border: 0;
}

.risk-assessment-header__component-big-stats__stat {
  width: 50%;
  text-align: center;
  float: left;

  .value {
    font-size: 40px;
    font-weight: $weight-semibold;
  }

  .label {
    color: $color-light;
    font-weight: $weight-semibold;
  }
}

.risk-components-nav__link {
  border-right: 1px solid #e9ebf1;
  color: #4a4a4a;
  display: inline-block;
  padding: 15px;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  font-weight: $weight-semibold;
  width: 20%;

  .fa {
    color: #cecece;
    font-size: 14px;
    padding-right: 5px;
    transition: color 0.25s ease-in-out;
  }

  &.active, &:hover, &:focus {
    color: white;
    outline: none;
    text-decoration: none;

    .fa {
      color: white;
    }
  }

  &:hover, &:focus {
    background-color: rgba(74, 144, 226, 0.75);
    border-color: rgba(74, 144, 226, 0.75);
  }

  &.active {
    background: #4a90e2;
    border-color: #4a90e2;

    &:focus {
      background: #4a90e2;
      border-color: #4a90e2;
    }
  }

  &:first-of-type {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  &:last-of-type {
    border-right: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}

//
// .base-table additions for risk assessment components
//
.base-table__risk-threat-events {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 850px;
  max-width: 850px;
}

//
// Risk Assessment Component
// TODO: replace integer with descriptive computed label
//
// 3 - Severe
// 2 - High
// 1 - Medium
// 0 - Low
.risk-assessment-component__chip {
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}
.risk-assessment-component__chip--3 {
  background-color: #d9534f;
  &:after {
    content: "Severe"
  }
}
.risk-assessment-component__chip--2 {
  background-color: #f46666;
  &:after {
    content: "High"
  }
}
.risk-assessment-component__chip--1 {
  background-color: #ffb330;
  &:after {
    content: "Medium"
  }
}
.risk-assessment-component__chip--0 {
  background-color: #c9e141;
  &:after {
    content: "Low"
  }
}
// Security Controls
.risk-assessment-component__chip--unimplemented {
  background-color: #d9534f;
  &:after {
    content: "Unimplemented"
  }
}
.risk-assessment-component__chip--implemented {
  background-color: #c9e141;
  &:after {
    content: "Implemented"
  }
}

.risk-assessment__filters {
  margin-bottom: 30px;

  .form-group {
    margin-right: 30px;

    .fa-search {
      color: #9b9b9b;
      position: absolute;
      transform: translate(10px, 8px);
    }
  }

  .form-control {
    color: #4a4a4a;
    font-size: 13px;
    font-weight: normal;
    min-width: 135px;
  }

  select.form-control {
    font-weight: $weight-semibold;
  }

  .form-inline .form-control.risk-assessment__search-input {
    width: 250px;
  }
}

.risk-assessment__filters__label {
  font-weight: $weight-semibold;
  color: #9b9b9b;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.risk-assessment__search-input {
  height: 30px;
  padding-left: 30px;
  width: 250px;
}

// Bootstrap specificity
@media (min-width: 768px) {
  .form-inline .form-control.risk-assessment__search-input {
    width: 250px;
  }
}
