.role-type-option {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);
  border-radius: 3px;
  text-align: center;
  padding: 40px 35px;
  cursor: pointer;
}

.role-type-select[data-role-type=platform_user]
  .role-type-option[data-option-value=platform_user],
.role-type-select[data-role-type=compliance_user]
  .role-type-option[data-option-value=compliance_user] {
  background: #4A90E2;
  border-color: #4a90e2;
  .role-type-option__name {
    color: #FFFFFF;
  }
  .role-type-option__info {
    color: #C7EFFF;
  }
}

.role-type-option__name {
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0;
}
.role-type-option__info {
  color: #9B9B9B;
  font-size: 14px;
}
