.security-control {
  border-bottom: 1px solid $color-border-gray;
  padding: 30px;

  .title {
    font-size: 15px;
    font-weight: $weight-semibold;
    margin: 0 0 15px;
  }

  .description {
    font-size: 14px;
    color: $color-light;
  }

  .radio {
    margin: 0
  }

  .multiselect-checkboxes {
    margin-top: 20px;
  }
}

.security-control-title {
  .title {
    font-size: 18px;
  }
}

.security-control-fields, .security-control-field {
  &.visibility-hidden {
    display: none;
  }
}

.property-visibility-wrapper {
  display: none;

  &.visible {
    display: block;
  }
}

.security-control-field {
  @extend %clearfix;
  padding: 15px 0;

  &.with-errors {
    border: 1px solid #FFDBD7;
    border-radius: 5px;
    background: #FFEFEF;
    padding: 15px;
  }

  .title {
    font-size: 15px;
    font-weight: normal;
    margin: 0;

    i.fa-lock {
      color: $color-bright-blue;
      margin: 0 8px 0 0;
    }
  }

  .description {
    margin-top: 5px;
  }

  .radio {
    font-size: 14px;

    label {

    }
  }

  .toggle, .form-control, .radio {
    margin-top: 15px;
  }
}
