.security-control {

  .checkbox {
    label {
      padding: 0;
    }
  }
  .radio-button-option {
    margin-bottom: 10px;

    .radio label {
      padding: 0;
    }
  }

  .title {
    font-size: 15px;
    font-weight: $weight-semibold;
    margin: 0 0 15px;
  }

  .description {
    font-size: 14px;
    color: $color-light;
  }

  .radio {
    margin: 0
  }

  .multiselect-checkboxes {
    margin-top: 20px;
  }

  .x-toggle-container-disabled {
    opacity: .33;
  }

  .toggle-text {
    text-transform: uppercase;
    font-weight: $weight-semibold;
    color: $color-light;

    &.small {
      font-size: 11px;
      margin-top: -3px;
    }
  }
}

.panel.security-controls {
  .panel-section {
    padding: 20px
  }
}

.locked-property {
  display: block;
  float: right;
  width: 20px;
  text-align: right;
  color: #ddd;
}

.security-control-title {
  padding: 30px 0 0 30px;

  .title {
    font-size: 16px;
  }
}

.security-control {
  &:first-child {
    .security-control-field:first-child {
      border: 0;
    }
  }
}

.security-control-field {
  @extend %clearfix;
  padding: 30px 30px 30px 0;
  border-top: 1px solid $color-border-gray;

  .title {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }

  .description {
    margin-top: 5px;
  }

  .radio {
    font-size: 14px;

    label {
      padding: 0;
    }
  }

  .toggle, .form-control, .radio {
    margin-top: 15px;
  }

  &.implemented, &.permitted {
    .schema-field-radio [type="radio"] + span {
      font-size: 11px;
    }

    .schema-field-radio [type="radio"] + span::before {
      vertical-align: -7px;
    }

    .radio-button-option {
      margin: 0;

      label {
        text-transform: uppercase;
        color: $color-light;
        font-weight: $weight-semibold;
        font-size: 11px;
      }
    }

    .toggle {
      text-align: right;
    }

    .radio {
      margin: 0;
    }

    .radio-button-option {
      width: 80px;
      float: left;
      margin-bottom: 0;
    }

    .header {
      float: left;
      margin-right: 200px;
    }

    .schema-field-wrapper {
      float: right;
      width: 190px;
      position: absolute;
      right: -18px;

      .radio-button-option:first-child {
        margin-bottom: 0;
      }
    }
  }
}
