.spd-progress-body {
  display: flex;
  justify-content: space-between;

  .spd-progress-step {
    .spd-progress-step-image {
      display: none;
    }

    &.active .spd-progress-step-title {
      color: $color-primary;
    }
  }

  .spd-progress-step-title {
    font-size: 11px;
    color: $color-light;
    font-weight: $weight-semibold;
    text-transform: uppercase;
  }
}

.new-header {
  .spd-progress {
    margin-top: -12px;
  }

  .spd-progress-bar {
    margin: 11px 0 30px;
  }
}

.spd-progress-bar {
  background: #fafafa;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  overflow:hidden;

  .spd-progress-bar-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .spd-progress-bar-step {
    flex-grow: 1;
    text-align: center;
    height: 4px;

    &.completed, &.active {
      background: #eaeaea;
    }
  }
}

.spd-back-button {
  float: left;
  margin-left: -25px;
  font-size: 16px;
  margin-top: -15px;
}

.spd-filterbar {
  @extend %clearfix;
  padding: 0 0 30px;
}

.remote-only-workforce {
  @extend %clearfix;
  float: left;
  margin-top: 9px;

  .title {
    float: left;
    font-weight: $weight-semibold;
    margin: 0 10px 0 0;
  }

  .toggle-text {
    font-size: 11px;
    font-weight: $weight-semibold;
    color: $color-light;
    text-transform: uppercase;
  }

  .toggle-box {
    float: left;
    margin-left: 8px;
  }

  /* x-toggle
  .x-toggle-container .toggle-text.small {
    margin-top: -3px;
  }
  */
}

.locations-index.remote-only {
  opacity: 0.3;
  pointer-events: none;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}