.getting-started {
  .spd-steps {
    text-align: center;
    list-style-type: none;
    padding: 0;
    z-index: 1;
    margin: 50px 0;
    display: inline-block;
    position: relative;

    .background-track {
      width: 80%;
      height: 9px;
      margin: 36px 10% 0;
      position: absolute;
      background-image: url(/assets/images/dotted.png);
      background-size: 38px 9px;
      background-repeat: repeat-x;
      z-index: 1;
    }

    .spd-step {
      display: inline-block;
      position: relative;
      margin: 0 40px 0 0;
      z-index: 2;
      width: 130px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      .spd-step-title {
        font-size: 11px;
        margin: 20px 0 0;
        color: $color-light;
        font-weight: $weight-semibold;
        text-transform: uppercase;
      }
    }

    .spd-step-image {
      background: #fff;
      border: 1px solid #d0d0d0;
      border-radius: 50%;
      width: 80px;
      padding: 4px;
      margin: 0 auto;

      img {
        height: 70px;
        width: 70px;
        opacity: 1;
      }
    }
  }
}

.workforce-role {

}

.workforce-role__panel-body {
  padding: 20px;
}

.workforce-role__title {
  font-size: 16px;
  margin: 15px 0;
  font-weight: $weight-semibold;
}

.workforce-role__description {
  color: $color-light;
  min-height: 100px;
}

.workforce-role__user-section {
  background: $color-bg-gray;
  border-top: 1px solid $color-border-gray;
  padding: 10px 20px;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      @extend %clearfix;
      line-height: 40px;
    }
  }
}

.workforce-role__add-existing {
  @extend %clearfix;

  button {
    float: right;
  }

  .user-select-container {
    margin-right: 70px;
  }
}

.workforce-role__invite {
  margin: 10px 0 0 0;

  > span {
    color: $color-light;
  }

  > a {
    font-weight: $weight-semibold;
  }
}

.workforce-role__user-name {
  font-weight: $weight-semibold;
  float: left;

  > img {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin: -3px 5px 0 0;
  }
}

.workforce-role__invitation {
  .workforce-role__user-name {
    color: $color-light;
  }
}

.workforce-role__user-actions {
  color: $color-light;
  font-weight: $weight-semibold;
  float: right;

  > a {
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 0 5px;
    color: $color-light;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }

  .fa {
    font-size: 11px;
  }
}