// Typography
//
// Going to try and build on this and then replace existing styles for our
// various headings
//
.heading {
  font-weight: 600;
}
.heading--caps {
  text-transform: uppercase;
}
.heading--sm {
  color: #999;
  font-size: 12px;
}
.aptible-label {
  color: #4a4a4a;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}
