$unenrolled-badge-color: #d6d6d6;

.status-badges {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 5px 0 0;
  }

  .badge {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    margin: 5px 0;
    font-weight: $weight-normal;
    background: $unenrolled-badge-color;

    .fa {
      display: none;
    }
  }
}

/* Bootstrap is too damn specific sometimes */
.panel-default > .panel-heading .badge {
  font-size: 11px;
  color: #fff;
  font-weight: $weight-normal;
  background: $unenrolled-badge-color;
}


.training-enrollment {
  .badge {
    &.status-not-required {
      background: $unenrolled-badge-color;
    }

    &.status-overdue {
      background: $color-danger;

      .fa.fa-exclamation-circle {
        display: inline;
      }
    }

    &.status-expired {
      background: $color-warning;

      .fa.fa-exclamation-circle {
        display: inline;
      }
    }

    &.status-complete {
      background: $color-success;

      .fa.fa-check {
        display: inline;
      }
    }
  }
}
