.user-training-status {
  @extend %clearfix;

  .user-image {
    float: left;
    margin-right: 10px;
    margin-bottom: -5px;

    .compliance-icon-wrapper {
      text-align: center;
      height: 24px;
      width: 24px;
      background: #fff;
      border-radius: 12px;
      margin-left: -16px;
      display: inline-block;
    }

    .compliance-icon {
      padding-top: 3px;
      font-size: 18px;
    }
  }

  .info {
    float: left;
  }

  .name {
    font-size: 14px;
    font-weight: $weight-semibold;
    margin: 1px 0 5px 0;
  }

  .email {
    font-weight: $weight-normal;
    color: $color-light;
  }
}

.subject-checklist {
  float:right;
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li.title {
    font-weight: $weight-semibold;
    text-transform: uppercase;
    color: $color-light;
  }

  > li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 12px;
    width: 180px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .compliance-icon {
    float: left;
    margin-top: 2px;
  }

  .criterion-details {
    margin-left: 18px;
  }

  .criterion-name {
    font-weight: $weight-semibold;
  }

  .criterion-status {
    color: $color-light;
  }
}