/* x-toggle
.x-toggle-container {
  display: block;
  height: 20px;

  label.x-toggle-btn {
    margin-bottom: 0;
  }
}
*/


.x-toggle-light.medium {
  height: 1.9em;
}

.x-toggle-container-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.x-toggle-component {
  label {
    margin-bottom: 0;
    font-size: auto;
  }
}