.activate-notice {
  background: #fafafa;
  border-radius: 5px;
  padding: 30px;


  &.activate-notice--micro {
    padding: 12px;
  }

  h1 {
    line-height: 32px;
  }

  h1, h2 {
    text-align: center;
    font-size: 22px;
    font-weight: $weight-normal;
  }

  h2 {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.4em;
    color: $color-light;

    strong {
      color: $color-primary;
    }
  }

  .call-to-action {
    text-align: center;
    margin-bottom: 10px;
  }
}
