.sessions-wrapper,
.signup-wrapper {
  margin: 8em auto 0;
}

.login-box-logo {
  display: block;
  margin: 1em auto;
  width: 195px;
  height: 51px;
  background-image: url('/ember-cli-aptible-shared/assets/images/aptible_logo_750.png');
  background-size: contain;
}

.forgot-password-link {
  float: right;
  font-size: 11px;
  margin: 10px 0 0;
}
