.signup-form {
  .welcome-info {
    padding: 30px 0 30px 30px;

    h2 {
      font-size: 22px;
      font-weight: $weight-normal;
      margin: 25px 0;
    }

    p {
      color: $color-light;
      margin: 15px 0;
    }
  }
}