.payment-form {
  .form-group {
    @extend %clearfix;
  }

  input {
    &.number,
    &.cvc,
    &.zip {
      float: left;
    }
  }

  input.number {
    margin-right: 20px;
    width: 280px;
  }

  input.cvc {
    float: right;
    width: 115px;
  }

  input.zip {
    float: right;
    width: 115px;
  }

  .expiration-month {
    float: left;
    margin-right: 20px;
    width: 120px;
  }

  .expiration-year {
    float: left;
    margin-right: 20px;
    width: 140px;
  }
}