header.resource-header {
  margin: 0 0 30px;
  padding: 30px 0;
  border-bottom: 1px solid $color-bg-gray;

  .resource-title {
    margin: 0;
    font-size: 20px;
    font-weight: $weight-semibold;
    color: $color-primary;

    .resource-title-link a {
      color: $color-light;
      font-size: 12px;
      display: inline-block;
      vertical-align: 3px;
      margin: 0 0 0 20px;

      i.fa {
        vertical-align: 0;
      }

      &:hover, &:active, &:link {
        text-decoration: none;
        color: $color-bright-blue;
      }
    }
  }

  .resource-breadcrumb {
    margin: 0 0 6px;
    display: inline-block;
    font-size: 11px;

    i.fa {
      vertical-align: 0;
      margin: 0 4px 0 0;
      font-size: 10px;
    }
  }

  .resource-metadata {
    @extend %clearfix;
    margin: 25px 0 0;
    padding: 0;

    .resource-metadata-item {
      float: left;
      margin-right: 30px;
    }
  }
}

.stack-select-button.dropdown-toggle {
  border: 0;
  background: none;
  box-shadow: none;
  margin-left: -6px;

  .resource-title {
    margin: 0 8px 0 0;
  }

  i.fa.fa-chevron-down {
    color: $color-primary;
    vertical-align: 1px;
  }
}

.resource-metadata-item {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .resource-metadata-title {
    color: $color-light;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $weight-semibold;
    margin: 0 0 6px;
  }

  .resource-metadata-value {
    coor: $color-subdued;
    font-size: 12px;
    font-weight: $weight-normal;
    margin: 0;

    a {
      display: inline-block;
      margin-left: 6px;
    }
  }
}

.panel-body {
  .resource-metadata-item {
  }

  .resource-metadata-title {

  }

  .resource-metadata-value {
    font-size: 13px;
    color: $color-light;
  }
}

.resource-navigation {
  margin: 0 0 30px;

  > li {
    > a {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: $weight-semibold;
      color: $color-subdued;
    }

    &.active {
      > a, > a:link, > a:active, > a:focus, a:hover {
        color: $color-primary;
        background: $color-bg-gray;
        outline: 0;
      }

      a:hover {
        cursor: default;
      }
    }
  }
}
