ul.role-members {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li.role-invite {
    border-bottom: 1px solid #f0f0f0;

    label {
      opacity: .3;
    }

    &:last-child {
      border: 0;
    }
  }

  li.role-member.empty {
    color: $color-light;
  }

  li {
    height: auto;
    padding: 10px;
    @extend %clearfix;

    label {
      font-weight: $weight-semibold;
      font-size: 13px;
      float: left;
      margin: 5px 0 0;
    }

    button {
      float: right;
      margin-left: 5px;
    }
  }
}

.invite-user {
  .user-select-container,
  .invite-user-container {
    margin-right: 75px;
  }

  input.form-control {
    margin-right: 100px;
  }

  button.btn-primary {
    float:right;
    width: 60px;
  }
}