.service-badge {
  display: inline-block;
  margin: 0 4px 8px 0;
  border-radius: 3px;
  background: #fff;
  color: $color-subdued;
  font-weight: $weight-semibold;
  font-size: 12px;
  padding: 0;

  .service-name {
    border: 1px solid #e0e0e0;
    border-width: 1px 0 1px 1px;
    padding: 5px;
    border-radius: 3px 0 0 3px;
  }

  .times {
    color: #aaa;
  }

  .service-container-count {
    color: #fff;
    padding: 5px;
    background: #aaa;
    border: 1px solid #aaa;
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
    margin-left: -4px;

    &.pending {
      width: 21px;
      display: inline-block;
      border: 0;
    }

    i.fa-spinner {
      margin: 0 6px 0 0;
      vertical-align: 0;
    }
  }
}

.service-badge.in-service {
  .service-container-count {
    border-color: $color-bright-blue;
    background-color: $color-bright-blue;
  }
}