.slider-wrapper {
  height: 12px;

  .slider {
    height: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
  }

  .noUi-background {
    border: 1px solid #ddd;
    background: #fff;
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .08);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .08);
  }

  .noUi-connect {
    background: $color-bright-blue;
  }

  .noUi-horizontal .noUi-handle {
    background-image: -o-linear-gradient(-89deg, #fff 0%, #ebebeb 100%);
    background-image: -moz-linear-gradient(-89deg, #fff 0%, #ebebeb 100%);
    background-image: -ms-linear-gradient(-89deg, #fff 0%, #ebebeb 100%);
    background-image: linear-gradient(-179deg, #fff 0%, #ebebeb 100%);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .085);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .085);
    height: 18px;
    width: 18px;
    border-radius: 9px;
    left: -11px;
    top: -4px;
    cursor: pointer;

    &:after {
      display: none;
    }

    &:before {
      height: 8px;
      width: 8px;
      top: 4px;
      left: 4px;
      border-radius: 4px;
      background: #d8d8d8;
      -moz-box-shadow: 0 1px 0 0 #fff, inset 0 1px 3px 0 rgba(0, 0, 0, .14);
      box-shadow: 0 1px 0 0 #fff, inset 0 1px 3px 0 rgba(0, 0, 0, .14);
    }

    &:hover {
      &:before {
        background: #a8a8a8;
      }
    }
  }

  .noUi-origin {
    border-radius: 6px;
    margin-right: -2px;
  }

  button.slider-confirm {
    background: $color-bright-blue;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    padding: 4px 13px 3px;
    margin-top: -10px;
    float: right;
  }

}


.slider-input-wrapper {
  @extend %clearfix;
  margin: 10px 0 0;

  &.disk-size-slider {
    display: flex;
    margin-top: 0;

    .slider-wrapper {
      margin-right: 0;
    }

    .container-count {
      width: 69px;
    }
  }

  .alert {
    margin-right: 55px;
  }

  .slider-input-wrapper--flex {
    display: flex;
  }

  .slider-actions {
    text-align: right;
    visibility: hidden;
    // width: 60px;

    &[data-visible='true'] {
      visibility: visible;
    }

    .btn {
      display: inline-block;
    }

    .btn-cancel {
      display: none;
    }
  }

  .slider-wrapper {
    display: block;
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 10px;
  }

  .container-count {
    width: 39px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    font-weight: $weight-semibold;
    border-radius: 4px;
    box-shadow: inset 0 1px 4px rgba(#000, 0.1);
    font-size: 14px;
  }

  .label-wrapper {
    margin-top: 12px;

    .label {
      color: $color-light;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $weight-semibold;
      padding: 0;
    }
  }
}
