.user-gravatars {
  list-style-type: none;
  padding: 0;
  min-height: 24px;

  .user-gravatar {
    margin: 0 5px 0 0;
    float: left;

    img {
      border-radius: 3px;
    }
  }
}
.user-gravatar-remainder {
  line-height: 24px;
}
