header.navbar.current-user-header {
  background-image: linear-gradient(-180deg, #fafafa 0%, #f0f0f0 100%);
  border-bottom: 1px solid #dfdfdf;

  .navbar-header {
    width: 225px;
    border-right: 1px solid #dfdfdf;
    height: 54px;

    .navbar-brand {
      background-position: 50% 0;
      width: 100%;
    }
  }
}

header.navbar.primary-nav-header {
  border-top: 0;
  background: #fafafa;
  padding: 9px 8px 8px;
}

.nav.user-nav {
  border: 0;

  > li {
    padding: 0;

    .btn-group {
      height: 54px;
      margin:0;
      border:0;
      border-left: 1px solid #dfdfdf;

      > a {
        height: 54px;
        padding: 19px 20px;
      }

      > a.dropdown-toggle {
        padding: 19px 8px;
      }

      &:hover, &.open {
        background: #ececec;
        border: 0;
        border-left: 1px solid #dfdfdf;
      }
    }
  }

  &.navbar-right {
    margin: 0;
  }

  .dropdown.current-user {


    .dropdown-menu {
      width: 225px;
    }

    li.title {
      font-size: 13px;
      font-weight: $weight-semibold;
      color: $color-primary;
      padding: 10px;
    }

    li a, li > a {
      display: block;
      margin: 0;
      font-size: 13px;
      padding: 5px 10px;
      font-weight: $weight-normal;
      color: $color-light;

      &:hover {
        background: #fafafa;
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
