.input-group {
  width: 100%;

  .input-group-addon {
    border-color: #ccc;
    padding: 6px 11px;
    background-image: -webkit-linear-gradient(-180deg, #FAFAFA 0%, #F0F0F0 100%);
    background-image: -moz-linear-gradient(-180deg, #FAFAFA 0%, #F0F0F0 100%);
    background-image: -o-linear-gradient(-180deg, #FAFAFA 0%, #F0F0F0 100%);
    background-image: linear-gradient(-180deg, #FAFAFA 0%, #F0F0F0 100%);
    box-shadow: inset 0px 2px 0px 0px #FFFFFF;

    .fa {
      font-size: 15px;
      margin: 0;

      &.visibility-hidden {
        visibility: hidden;
      }

      &.fa-check-circle {
        color: #20BB3A;
      }

      &.fa-times-circle {
        color: #E64D4D;
      }
    }

    .tooltip {
      .tooltip-inner {
        width: 200px;
        white-space: normal;
      }
    }
  }
}
