.verified-user-alert {
  .alert {
    margin: 0;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: $weight-semibold;

    .btn-default {
      margin: 0 0 0 20px;
    }

    .close {
      margin-top: 2px;
    }
  }
}