.container.focus {
  .page-header {
    margin: 50px 0;
    padding: 0;
    border: 0;

    h1 {
      text-align: center;
      text-transform: capitalize;
      line-height: 39px;
      font-size: 26px;
      margin: 0 auto;
    }
  }

  .panel .panel-heading-link {
    float: right;
    margin: 10px 0 0;
  }
}

.signup-form {
  .notifications {
    margin: 0 0 30px;
  }

  .skip-link {
    margin: 15px 0;
    text-align: right;
  }

  .welcome-info {
    padding: 0 0 0 30px;

    h4 {
      font-size: 14px;
      margin: 0 0 15px;
      font-weight: $weight-semibold;
    }

    h2, h3 {
      font-size: 22px;
      font-weight: $weight-normal;
      margin: 0 0 20px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      color: $color-light;
      margin: 15px 0;
    }
  }
}

.create-first-app {
  .welcome-info {
    padding: 100px 0 0 30px;
  }
}

.welcome-info {

  .price {
    margin: -6px 0 20px;

    .amount {
      font-weight: $weight-bold;
      font-size: 29px;
    }

    .interval {
      color: $color-subdued;
      font-size: 16px;
    }
  }

  .welcome-section {
    margin: 0 0 25px;
  }

  .plan-feature-list {
    color: $color-light;
    margin: 10px 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 8px 0;
      padding: 0;

      i.fa {
        color: $color-bright-blue;
      }
    }
  }
}

.signup-progress-wrapper {
  margin: 80px 0;
}

.signup-progress-indicator {
  text-align: center;

  > li {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    border: 1px solid #d3d3d3;
    background: #fafafa;

    &:last-child {
      margin: 0;
    }

    &.active {
      background-image: linear-gradient(-180deg, #2BA4EF 0%, #1A87CB 100%);
      border: 1px solid #1B88CC;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
    }
  }
}

.claim-invitation-description {
  h2 {
    font-size: 22px;
    text-align: center;
    line-height: 1.4em;
    margin: 0 0 20px;
  }

  p {
    color: $color-light;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
  }
}
