<header class="new-header">
  <div class="container">
    <div class='header-left'>
      <h2 class="sub-title">Security Program</h2>
      <h1 class="title">Workforce</h1>
    </div>
    {{#if model.isDirty}}
      <div class="header-right">
        <ul class="header-actions">
          <li>
            <button {{action 'save'}} class="btn btn-default btn-sm save-settings">Save</button>
          </li>
        </ul>
      </div>
    {{/if}}
  </div>
</header>

{{partial 'spd/organization'}}

<div class="container main-body">
  {{spd-errors errors=errors}}
  {{partial 'spd/organization'}}
</div>