{{#if isDevelopment}}
  <div class="price">
    <span class="amount">$0</span>
    <span class="interval">/month</span>
  </div>

  {{#if app.appHandle}}
    <h2>Add a payment method to provision {{app.appHandle}}.</h2>
  {{else}}
    <h2>Pay-as-you-go Development Account</h2>
  {{/if}}

  <p>
    An Aptible development account is ideal for a development or staging environment where you will not be storing PHI.  There are no upfront costs;  you’re only be billed for the resources you use.
  </p>

  <h4>Your development account includes:</h4>
  <ul class="plan-feature-list">
    <li><i class="fa fa-check-circle"></i> No upfront costs, pay as you go</li>
    <li><i class="fa fa-check-circle"></i> Perfect for development or staging environments</li>
    <li><i class="fa fa-check-circle"></i> Upgrade to a Platform account at anytime</li>
  </ul>
{{/if}}

{{#if isPlatform}}
  <div class="price">
    <span class="amount">$499</span>
    <span class="interval">/month</span>
  </div>

  {{#if app.appHandle}}
    <h2>Add a payment method to provision {{app.appHandle}}.</h2>
  {{else}}
    <h2>PHI-Ready Platform Account</h2>
  {{/if}}

  <p>
    Start deploying HIPAA-compliant apps in minutes with our high-assurance platform account and integrated HIPAA compliance tools.
  </p>

  <h4>The Platform account includes:</h4>
  <ul class="plan-feature-list">
    <li><i class="fa fa-check-circle"></i> PHI-ready virtual private cloud</li>
    <li><i class="fa fa-check-circle"></i> 10 containers, 1TB of storage, and 4 VHosts included</li>
    <li><i class="fa fa-check-circle"></i> 24/7 Technical and Compliance Support</li>
    <li><i class="fa fa-check-circle"></i> Signed Business Associate Agreement</li>
  </ul>
{{/if}}

