{{link-to 'Create Database' 'stack.new-database' model.firstObject.stack}}

{{#each database in model}}
  <div class="database-row">
    {{link-to database.handle 'databases.show' database class="database-link"}}
  </div>
{{/each}}
