<div class="resource-list-grid">
  <div class="row">
    {{#each model as |database|}}
      <div class="col-xs-4">
        {{partial 'stack/db'}}
      </div>
    {{/each}}
  </div>

  <div class="resource-list-actions">
    {{#aptible-ability scope="manage" user=session.currentUser stack=stack as |hasAbility|}}
      {{#if hasAbility}}
        {{#if session.currentUser.verified}}
          {{link-to 'Create Database' 'databases.new' class="btn btn-primary"}}
        {{/if}}
      {{/if}}
    {{/aptible-ability}}
  </div>
</div>
