<div class="resource-list">
  <div class="row">
    {{#each model as |database|}}
      <div class="col-xs-3">
        {{partial 'stack/db'}}
      </div>
    {{/each}}
  </div>

  <div class="resource-list-actions">
    {{#aptible-ability scope="manage" user=session.currentUser stack=stack}}
      {{link-to 'Create Database' 'databases.new' class="btn btn-primary"}}
    {{/aptible-ability}}
  </div>
</div>
