<div class="container main-body">
  {{#if authorization.features.dataEnvironments}}
    <div class="sort-group data-environment-groups">
      <h5 class="sort-header">Data Environment Security Controls</h5>
      <div class="row">
        {{#each dataEnvironmentGroups as |securityControlGroup|}}
          <div class="col-xs-4">
            {{security-control-index-item
              showPath="gridiron-settings.security-controls.show"
              securityControlGroup=securityControlGroup}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <div class="sort-group data-environment-groups">
    <h5 class="sort-header">Organizational Security Controls</h5>
      {{#each organizationalGroups as |securityControlGroup|}}
        {{security-control-index-item
          showPath="gridiron-settings.security-controls.show"
          securityControlGroup=securityControlGroup}}
      {{/each}}
  </div>
</div>
