<header class="new-header">
  <div class="container">
    <h1 class="title">{{organization.name}} Risk Assessments</h1>
  </div>
</header>

<div class="main-body container">
  {{#each model.riskAssessments as |riskAssessment|}}
    {{risk-assessment-list-item riskAssessment=riskAssessment}}
  {{/each}}

  {{outlet}}
</div>
