<div class="panel panel-striped">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Provider</th>
        <th class="toggle-small align-right">Selected</th>
      </tr>
    </thead>

    <tbody>
      {{#each-property properties=dataEnvironmentSchema.properties as |key property type|}}
        {{data-environment
          handle=key
          property=property
          document=dataEnvironmentDocument}}
      {{/each-property}}
    </tbody>
  </table>
</div>