<nav>
  <ul class="pager">
    {{#if hasPrev}}
      <li class="previous">
        <a href="#" {{action 'prevPage' currentPage}}>
          <span aria-hidden="true">&larr;</span> Newer items
        </a>
      </li>
    {{/if}}

    {{#if hasNext}}
      <li class="next">
        <a href="#" {{action 'nextPage' currentPage}}>Older items
          <span aria-hidden="true">&rarr;</span></a>
      </li>
    {{/if}}
  </ul>
</nav>
