<h1>{{organization.name}} Roles: Create Role</h1>

<div class="panel">
  <div class="panel-heading">
    <h3>Create role</h3>
  </div>

  <div class="panel-body">
    {{partial 'role/form'}}
  </div>
</div>
