<header class="resource-header">
  <div class="layout-container">
    <div class="resource-title">
      <i class="resource-icon resource-org"></i>
      <h1>{{organization.name}} Roles</h1>
    </div>
  </div>
</header>

<div class="layout-container">
  <div class="row">
    <div class="col-sm-6 new-role">
      <div class="panel">
        <div class="panel-heading">
          <h3>Create Role</h3>
        </div>
        <div class="panel-body">
          {{partial 'role/form'}}
        </div>
      </div>
    </div>
  </div>
</div>
