<div class="panel compliance-status-table-panel white-panel">
  {{#each complianceStatus.allAlerts as |alert|}}
    <div class="panel-row">
      <h3>{{alert.message}}</h3>
    </div>
  {{/each}}
</div>
