{{#each allAlerts as |alert|}}
  <div>
    {{alert.message}}
  </div>
{{/each}}

<table class="aptable">
  <tbody>
    {{#each alerts as |alert|}}
      <tr>
        <td class="aptable__row-heading">{{alert.message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>