{{partial 'mixins/container-metrics'}}

{{#if hasMemoryLimit}}
  <p>
    {{input
      type="checkbox"
      name=(concat elementId '-show-memory-limit')
      id=(concat elementId '-show-memory-limit')
      checked=uiState.showMemoryLimit}}

    <label for="{{concat elementId '-show-memory-limit'}}">Compare to memory limit</label>
  </p>
{{/if}}
