<header class="new-header">
  <div class="container">
    <div class='header-left'>
      <h2 class="sub-title">Security Program</h2>
      <h1 class="title">Security Controls</h1>
    </div>
    <div class="header-right">
      <ul class="header-actions">
        <li>
          {{link-to 'Manage Data Environments' 'gridiron-settings.data-environments' classNames="btn btn-default btn-sm"}}
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container main-body">
  {{outlet}}
</div>
