<div class="risk-assessment__index">
  <div class="risk-assessment__filters">
    {{threat-sources-filters filters=filters}}
  </div>

  <div class="aptable">
    {{threat-sources-list filters=filters threatSources=model}}
  </div>
</div>
