<div class="risk-assessment-container">
  <div class="risk-assessment__index">

    <div class="risk-assessment__filters">
      <div class="pull-right">
        <label class="risk-assessment__filters__label">&nbsp;</label>
        <button type="submit" class="btn btn-primary btn-sm">Create Threat Source</button>
      </div>

      {{threat-sources-filters filters=filters}}
    </div>

    <div class="aptable">
      {{threat-sources-list filters=filters threatSources=model}}
    </div>
  </div>
</div>