<div {{bind-attr class=":btn-group isOpen:open"}}>
  {{link-to title defaultPath class="btn btn-link" active=false}}
  <a href="#" class="btn btn-link dropdown-toggle" {{action "toggle"}}>
    <i class="fa fa-chevron-down"></i>
  </a>
  {{#if isOpen}}
    <ul class="dropdown-menu" role="menu">
      {{yield}}
    </ul>
  {{/if}}
</div>
