{{#each organizationStacks as |stack|}}
  <div class="col-xs-4">
    {{partial 'stack/link'}}
  </div>
{{else}}
  <h4>{{organization.name}} has no stacks configured.</h4>
  {{#link-to-legacy-organization organization=organization}}
    Configure {{organization.name}} stacks.
  {{/link-to-legacy-organization}}
{{/each}}