{{partial 'organization/members-header'}}

<div class="layout-container">
  <div class="row">
    <div class="col-xs-12">
      {{#if authorizationContext.userIsOrganizationAdmin}}
        {{#link-to 'organization.invite' class="btn btn-primary"}}
          Invite New Member
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="sort-group organization-pending-invitations">
    <h3 class="heading heading--caps heading--sm">Pending Invitations</h3>

    <table class="aptable">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Invited By</th>
          <th>Invited On</th>
          <th class="aptable__actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        {{#each sortedInvites as |invitation|}}
          {{partial 'organization/invited-user-table-row'}}
        {{else}}
          <tr>
            <td colspan="5" class="empty-row">No Pending Invitations</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

