<div class="panel-heading">
  <h3>Submit a support request</h3>
</div>
<div class="panel-body">
  <p>
  Replication and clustering are currently in beta.
  To add a new replica or cluster member,
  {{#link-to-aptible app="contact"}}please contact support{{/link-to-aptible}}
  </p>
  <p>
  Make sure you include this database's handle as well as the desired handle
  for the new database.
  </p>
</div>
