<ul class="nav sidebar-nav">
  <li class="title">
    {{#link-to 'organization' organization}}
      {{#bs-tooltip title=tooltipTitle}}
        <i class="fa fa-cog"></i>
      {{/bs-tooltip}}
    {{/link-to}}
    {{organization.name}} Environments
  </li>

  {{#each sortedStacks as |stack|}}
    {{#link-to 'stack' stack tagName="li"}}
      {{link-to stack.handle 'stack' stack bubbles=false}}
    {{/link-to}}
  {{/each}}
</ul>
