<ul class="nav sidebar-nav">
  <li class="title">
    {{#link-to 'organization' authorizationContext.organization.id}}
      {{#bs-tooltip title="Organization Settings"}}
        <i class="fa fa-cog"></i>
      {{/bs-tooltip}}
    {{/link-to}}
    {{authorizationContext.organization.name}} Environments
  </li>

  {{#each sortedStacks as |stack|}}
    {{#link-to 'stack' stack tagName="li" class="sidebar-stack-item"}}
      {{link-to stack.handle 'stack' stack bubbles=false}}
    {{/link-to}}
  {{/each}}

  {{#if authorizationContext.hasNoBillingDetail}}
    <li>
      {{link-to 'Requires payment method →' 'welcome.payment-info' organization.id classNames="requires-payment-link danger"}}
    </li>
  {{/if}}
</ul>
