{{#error-page
  title="You are not a member of any Organization on Aptible"
  message="Here's what you can do:"
  actionName="Logout"
  actionDestination="settings.logout"}}
  <ul>
    <li>If a colleague invited you to Aptible, access their invitation via your inbox.</li>
    <li>If the invitation has expired, ask them to send it again.</li>
    <li>If that doesn't work, contact support via the link below.</li>
  </ul>

  <p>
    Note: you're still logged in as {{session.currentUser.name}};
    if you are on a shared computer, log out now:
  </p>
{{/error-page}}
