{{#if isLoading}}
  <div class="loading-security-controls">
    <div class="loading-provider">
      <i class="fa fa-spin fa-spinner"></i>
    </div>

    <div class="loading-progress">
      <div class="progress-message">Loading Security Controls...</div>
    </div>
  </div>
{{else}}

  <div class="security-controls-list">
    {{#each-property properties=schema.properties document=document recursive=false as |key property type options|}}
      {{security-control
        key=key
        property=property
        type=type
        provider=securityControlGroup.provider
        document=document
      }}
    {{/each-property}}
  </div>

  {{#liquid-if showStatusBar}}
    <div class="panel-footer">
      {{#liquid-if validationErrors class="fadeIn error-message"}}
        <i class="fa fa-exclamation-circle"></i> {{validationErrors}}
      {{/liquid-if}}

      {{#liquid-if saveMessage class="fadeIn save-message"}}
        <i class="fa fa-check"></i> {{saveMessage}}
      {{/liquid-if}}

      {{#liquid-if attestation.isSaving class="fadeIn save-message"}}
        <i class="fa fa-spin fa-spinner"></i> Saving...
      {{/liquid-if}}
    </div>
  {{/liquid-if}}
{{/if}}
