.app-list-container {
  margin: 0;
  padding: 0;

  .app-list-item {
    @extend %clearfix;
    padding: 20px;

    .app-info {
      float: left;
    }

    .app-handle {
      font-size: 16px;
      font-weight: $weight-semibold;
      margin: 0 0 5px;
    }

    .app-services {
      color: $color-light;
      font-size: 14px;
      font-weight: $weight-normal;
      margin: 0;
    }

    .last-operation {
      margin: 8px 0 0;

      .gravatar {
        float: left;
      }

      .operation-info {
        color: $color-light;
        font-size: 11px;
        font-weight: $weight-normal;
        float: left;
      }
    }

    &:hover {
      ul {
        display: block;

        .button-label {
          display: none;
        }
      }
    }

    &:nth-child(even) {
      background-color: $color-bg-light-gray;
    }

    &:last-child {
      border: 0;
    }
  }
}

.empty-resource-container {
  margin: 50px 0;

  .empty-resource-icon {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background: $color-bg-light-gray;
    text-align: center;
    margin: 0 auto 30px;
    position: relative;

    img {
      max-width: 70px;
    }

    .app-icon {
      margin-top: 22px;
    }

    .db-icon {
      margin-top: 30px;
    }
  }

  .empty-resource-title {
    font-size: 16px;
    margin: 0 0 15px;
    text-align: center;
  }

  .empty-resource-helper {
    font-weight: $weight-normal;
    color: $color-light;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}

.accounts-container.has-startup-guide {
  display: none;
}

.dropdown.org-select {
  margin: -20px 15px 20px 0;
}
