.resource-list-item {
  .service-badge {
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 3px;
    @include linear-gradient(#fff, #eaeaea);
    box-shadow: 0 1px 1px 0 rgba(#000, .06);
    color: $color-subdued;
    font-weight: $weight-semibold;
    font-size: 11px;
    padding: 0;

    .service-name {
      border: 1px solid #ccc;
      border-width: 1px 0 1px 1px;
      padding: 3px 5px 2px;
      border-radius: 3px 0 0 3px;
    }

    .service-container-count {
      color: #fff;
      background: $color-bright-blue;
      border: 1px solid $color-bright-blue;
      border-width: 1px 1px 1px 0;
      padding: 3px 5px 2px;
      border-radius: 0 3px 3px 0;
      margin-left: -4px;

      i.fa-spinner {
        margin: 0 6px 0 0;
        vertical-align: 0;
      }
    }
  }

  .empty-service {
    color: $color-light;
    font-size: 11px;
  }
}
