.add-card-modal,
.new-account-modal {
  .modal-dialog {
    width: 700px;
  }
}

.card-create-form {
  .expiration-col {
    float: left;
    margin-right: 8px;
  }

  .expiration-month {
    width: 46px;
  }

  .expiration-year {
    width: 71px;
  }

  .expiration-date-format {
    font-size: 30px;
  }
}
