.upgrade-org-btn,
.create-org-btn {
  .fa-key {
    margin-right: .3em;
    vertical-align: -4%;
  }
}


.contact {
  min-height: 38px;

  .gravatar {
    float: left;
    margin-right: 8px;
  }

  .contact-info {
    float: left;
  }

  .contact-name {
    margin-top: -3px;
    font-weight: $weight-semibold;
  }

  .contact-email {
    color: $color-primary;
    font-size: 12px;
  }
}

.micro-panel {
  .empty-contact {
    padding-top: 8px;
    text-align: center;
    font-weight: $weight-semibold;
    display: block;
  }
}
