.resource-list-grid {
  .panel.panel-subdued {
    > .panel-heading {
      padding: 11px;
    }

    .panel-body {
      padding: 10px;
    }
  }
}

.resource-actions {
  .btn {
    margin-right: 10px;
  }
}
