.plan-list {
  .plan-list-item {
    @extend %aptible-panel;
    padding: 20px;
    cursor: pointer;

    &.selected {
      border: 2px solid $color-bright-blue;
      padding: 19px;

      button.selected {
        display: inline-block;
      }

      button.unselected {
        display: none;
      }
    }

    .plan-title {
      margin: 0 0 20px;
    }

    .plan-name {
      color: $color-dark-blue;
      font-size: 22px;
      margin: 0 0 5px;
    }

    .plan-description {
      color: $color-primary;
      font-size: 13px;
      font-weight: $weight-normal;
    }

    .plan-pricing {
      margin: 0 0 20px;
    }

    .plan-pricing-title,
    .plan-interval {
      font-size: 14px;
      font-weight: $weight-semibold;
      color: $color-light;
    }

    .plan-amount {
      float: left;
      font-size: 32px;
      font-weight: $weight-bold;
      color: $color-dark-blue;
      margin: 0 8px 0 0;
    }

    .plan-interval {
      float: left;
      margin: 17px 0 0;
    }

    button.selected {
      display: none;
    }
  }
}

.plan-list-info {
  font-size: 14px;
  font-weight: $weight-semibold;
  color: $color-light;
  margin: 25px 0 0;
}

.payment-methods {
  .payment-method-choices {
    text-align: center;
    margin: 40px 0;
  }
}

header.navbar.focus-nav ul.nav.focus-progress > li > a,
header.navbar.focus-nav ul.nav.focus-progress > li > span {
  padding: 21px 8px 20px;
}

#main-yield-wrapper .page-header {
  &.focus {
    margin: 50px 0;
  }
}
