.user-profile {
  margin-top: 30px;
}

.ssh-keys {
  margin: 0;

  .ssh-key-item {
    @extend %clearfix;
    border-bottom: 1px solid $color-border-gray;
    padding: 10px;

    .ssh-key-info {
      float: left;

      label {
        color: $color-primary;
        margin-bottom: 5px;
      }

      .ssh-key-fingerprint {
        color: $color-light;
        font-family: "Inconsolata", Menlo, Monaco, monospace;
        font-size: 11px;
      }
    }

    .ssh-key-nav {
      margin-top: 2px;
      float: right;
    }
  }
}

.user-profile-sidebar {
  .user-info {
    margin: 30px 0;
  }

  h3 {
    font-size: 18px;
    margin: 0;
  }

  h5 {
    font-size: 14px;
    font-weight: $weight-normal;
  }
}

.monospace {
  font-size: 13px;
  font-family: "Inconsolata", Menlo, Monaco, monospace;
}

.update-gravatar {
  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .update-gravatar-info {
    h5 {
      margin-top: 0;
    }

    h6 {
      color: $color-light;
      font-weight: $weight-normal;

      strong {
        color: $color-primary;
        font-weight: $weight-semibold;
      }
    }
  }
}

.invite-notice {
  text-align: center;

  h5 {
    color: $color-light;
  }
}
