.panel.vhost {
  .vhost-virtualdomain {

  }

  .fa-arrow-right {
    font-size: 11px;
    margin: 0 8px;
    vertical-align: 2px;
    color: $color-subdued;
  }

  .vhost-service {
    color: $color-light;
    text-transform: capitalize;
  }
}