<div class="row">
  <div class="col-xs-12">
    {{#if model.userIsOrganizationAdmin}}
      {{#link-to 'organization.invite' class="btn btn-primary"}}
        Invite New Member
      {{/link-to}}
    {{/if}}
  </div>
</div>

<div class="sort-group organization-members">
  <h3 class="heading heading--caps heading--sm">Members</h3>

  <table class="aptable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Owner</th>
        <th>2FA</th>
        {{#if model.userIsOrganizationAdmin}}
          <th>Actions</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedMembers as |user|}}
        {{user-table-row
            organization=model.organization
            user=user
            isAccountOwner=model.userIsOrganizationAdmin}}
      {{/each}}
    </tbody>
  </table>
</div>
