<div class="row">
  <div class="col-xs-12">
    {{invite-member-button
        organization=organization
        currentUserRoles=currentUserRoles
        currentUser=session.currentUser}}
  </div>
</div>

<div class="sort-group organization-members">
  <h3 class="heading heading--caps heading--sm">Members</h3>

  <table class="aptable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Owner</th>
        <th>2FA</th>
        {{#if isAccountOwner}}
          <th>Actions</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedMembers as |user|}}
        {{user-table-row
            organization=organization
            user=user
            isAccountOwner=isAccountOwner}}
      {{/each}}
    </tbody>
  </table>
</div>
