{{partial 'organization/members-toolbar'}}

<div class="sort-group organization-members">
  <h3 class="heading heading--caps heading--sm">Members</h3>

  <table class="aptable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>2FA</th>
        {{#aptible-ability user=session.currentUser scope='manage' permittable=organization as |hasAbility|}}
          {{#if hasAbility}}
            <th>Actions</th>
          {{/if}}
        {{/aptible-ability}}
      </tr>
    </thead>

    <tbody>
      {{#each sortedMembers as |user|}}
        {{partial 'organization/user-table-row'}}
      {{/each}}
    </tbody>
  </table>
</div>
