<div class="activate-notice">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>{{model.handle}} environment is being provisioned.</h1>
      <h2>
        Someone from Aptible will contact you when your {{model.type}} environment is ready.
        If you think you are seeing this message in error, please
        {{#link-to-aptible app="support" path="contact"}}contact support{{/link-to-aptible}}.
      </h2>
    </div>
  </div>
</div>