{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Workforce"
  onSave="onSave"
  attestation=attestation
}}
  <div class="description">
    Assign security training to your workforce by adding training requirements to your Aptible roles. Invite users to those roles to trigger their training enrollments. Users designated as "Robots" will be exempt from training.
  </div>
{{/spd-nav}}

<div class="container main-body">
  {{spd-errors errors=errors}}

  <div class="spd-filterbar">
    <div class="pull-right">
      <button class="btn btn-default invite-team-button" {{action "showInviteModal"}}><i class="fa fa-plus"></i> Add Team Members</button>
    </div>
  </div>

  <div class="panels">
    {{team-index
      teamDocument=schemaDocument
      invitations=invitations
      properties=properties
      resendInvitation=(action 'resendInvitation')
      removeInvitation=(action 'removeInvitation')}}
  </div>
</div>
