{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Workforce"
}}

  <div class="description">
    Confirm your workforce. If needed, you can invite new users to specific compliance roles.
  </div>
{{/spd-nav}}

<div class="container main-body">
{{spd-errors errors=errors}}

  <div class="row">
    <div class="col-xs-6">
      {{edit-role-panel
        role=model.trainingOnlyRole
        invitations=model.invitations
        openInviteModal="openInviteModal"
        addMember="addMember"
        removeMember="removeMember"
        resendInvitation="resendInvitation"
        deleteInvitation="deleteInvitation"
      }}
    </div>

    <div class="col-xs-6">
      {{edit-role-panel
        role=model.adminRole
        invitations=model.invitations
        openInviteModal="openInviteModal"
        addMember="addMember"
        removeMember="removeMember"
        resendInvitation="resendInvitation"
        deleteInvitation="deleteInvitation"
      }}
    </div>
  </div>
</div>
