<div class="progress-radial progress-{{steppedPercent}}">
  <div class="overlay">
    <span class="completed">{{completed}}</span>
    <span class="slash">/</span>
    <span class="total">{{total}}</span>
  </div>
</div>
{{#if label}}
  <div class="progress-radial-label">{{label}}</div>
{{/if}}