<div class="container main-body">
  <div class="pull-right">
    <label class="risk-assessment__filters__label">&nbsp;</label>
    <button type="submit" class="btn btn-primary btn-sm">Create Threat Event</button>
  </div>

  {{threat-event-filters filters=filters}}
  {{threat-event-list filters=filters threatEvents=model}}
</div>