<div class="risk-assessment__index">
  <div class="risk-assessment__filters">
    {{threat-event-filters filters=filters}}
  </div>

  <div class="aptable">
    {{threat-event-list filters=filters threatEvents=model}}
  </div>
</div>
