{{#modal-wrapper title=title description=description onDismiss="onDismiss"}}
  <div class="panel panel-default white-panel">
    <div class="panel-body">
      {{!-- Use an invisible input to capture focus, thanks Skylar --}}
      <input type="text" style="height:0;width:0;opacity:0;" />

      <p>
        Before upgrading an Endpoint to ALB, review the
        {{#link-to-aptible app="support" path="topics/paas/upgrading-to-alb-endpoints" tabindex=-1}}
          upgrade checklist.
        {{/link-to-aptible}}
      </p>

      <p> Notably: </p>

      <ul>
        {{#unless vhostToUpgrade.isDefault}}
          <li>
            Ensure all CNAMEs use the name {{vhostToUpgrade.externalHost}}.
          </li>
        {{/unless}}
        <li>
          Ensure clients do not rely on SSLv3 support.
        </li>
      </ul>

      <p>
        <strong>If you are upgrading a production application,</strong> we
        encourage you to instead provision a new ALB Endpoint, verify that it
        behaves as expected, and then update your DNS records to point to it
        (as opposed to upgrading the existing Endpoint in-place here).
      </p>

      <button class="btn btn-default btn-xs" href="#" {{action "upgradeVhost" vhostToUpgrade}}>
        Upgrade this Endpoint to ALB
      </button>
    </div>
  </div>
{{/modal-wrapper}}
