<div class="form-group role-type-select" data-role-type="{{role.type}}">
  <label class="role-type-select__label">Type</label>
  <button class="form-control role-type-option" {{action 'updateType' 'platform_user'}} data-option-value="platform_user">
    <h3 class="role-type-option__name">Platform</h3>
    <p class="role-type-option__info">
      For granting permission to Apps, Databases, and Environments
    </p>
  </button>
  <button class="form-control role-type-option" {{action 'updateType' 'compliance_user'}} data-option-value="compliance_user">
    <h3 class="role-type-option__name">Compliance</h3>
    <p class="role-type-option__info">
      For granting permission to Compliance Products
    </p>
  </button>
</div>
