<div class="form-group role-type-select" data-role-type="{{role.type}}">
  <label>Type</label>
  <div class="role-type-option" data-option-value="platform_user">
    <h3 class="role-type-option__name">Platform</h3>
    <p class="role-type-option__info">
      For granting permission to Apps, Databases, and Environments
    </p>
  </div>
  <div class="role-type-option" data-option-value="compliance_user">
    <h3 class="role-type-option__name">Compliance</h3>
    <p class="role-type-option__info">
      For granting permission to Compliance Products
    </p>
  </div>
</div>
