<div class="form-group role-type-select" data-role-type="{{role.type}}">
  <label class="role-type-select__label">Type</label>
  <div class="row">
    <div class="col-xs-6">
      <button class="form-control role-type-option" {{action 'updateType' 'platform_user'}} data-option-value="platform_user">
        <h3 class="role-type-option__name">Enclave</h3>
        <p class="role-type-option__info">
          Manage Enclave platform resources
        </p>
      </button>
    </div>

    <div class="col-xs-6">
      <button class="form-control role-type-option" {{action 'updateType' 'compliance_user'}} data-option-value="compliance_user">
        <h3 class="role-type-option__name">Gridiron</h3>
        <p class="role-type-option__info">
          Manage Gridiron, or simply designate training requirements for workforce members
        </p>
      </button>
    </div>
  </div>
</div>
