<tr class="app-row">
  <td class="primary-cell">
    {{link-to app.handle 'apps.show' app class="app-link"}}
  </td>
  <td class="app-services">web, hubot</td>
  <td class="app-status">
    {{status-icon status=app.status}}
  </td>
  <td class="app-last-operation last-operation-cell">
    <div class="gravatar xs">
      <img src="https://secure.gravatar.com/avatar/f7790b867ae619ae0496460aa28c5861?s=32">
    </div>
    <div class="operation-info">Deployed about 2 months ago</div>
  </td>
  <td class="app-list-nav-cell">
    <div class="app-list-nav">
      <ul class="nav nav-pills sub-nav-tabs">
        <li class="">
        <a class="app-services-link" data-placement="bottom">
          <i class="fa fa-cube"></i>
          <span class="button-label">Services</span>
        </a>
        </li>
        <li class="">
        <a class="app-history-link" data-placement="bottom">
          <i class="fa fa-clock-o"></i>
          <span class="button-label">History</span>
        </a>
        </li>
        <li>
        <a class="destroy-app-link" data-placement="bottom">
          <i class="fa fa-times-circle-o"></i>
          <span class="button-label">Deprovision</span>
        </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
