{{#link-to 'apps.show' app class="panel-link" }}
  <div class="panel panel-default panel-subdued">
    <div class="panel-heading">
      <h5>{{app.handle}}</h5>
    </div>
    <div class="panel-body">
      <span class="service-badge">
        <span class="service-name">Web</span>
        <span class="service-container-count">2</span>
      </span>

      <span class="service-badge">
        <span class="service-name">Worker</span>
        <span class="service-container-count">6</span>
      </span>
    </div>
  </div>
{{/link-to}}
