{{#link-to 'app' app class="panel-link"}}
  <div class="panel panel-default app resource-list-item">
    <div class="panel-heading">
      <h5 class='app-handle'>{{app.handle}}</h5>
    </div>
    <div class="panel-body">

      {{#if app.isDeprovisioning}}
        <span class="empty-service"><i class="fa fa-spin fa-spinner"></i> Deprovisioning...</span>
      {{/if}}

      {{#if app.isDeprovisioned}}
        <span class="empty-service">Deprovisioned</span>
      {{/if}}

      {{#if app.isPending}}
        <span class="empty-service">Never deployed</span>
      {{/if}}

      {{#if app.isProvisioned}}
        {{#each app.services as |service|}}
          <span class="service-badge">
            <span class="service-name">{{service.processType}}</span>
            <span class="service-container-count">{{service.containerCount}}</span>
          </span>
        {{else}}
          <span class="empty-service">No Services Configured</span>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/link-to}}
