{{#link-to 'app' app class="panel-link"}}
  <div class="panel panel-default panel-subdued app">
    <div class="panel-heading">
      <h5>{{app.handle}}</h5>
    </div>
    <div class="panel-body">
      {{#each app.services as |service|}}
        <span class="service-badge">
          <span class="service-name">{{service.handle}}</span>
          <span class="service-container-count">{{service.containerCount}}</span>
        </span>
      {{/each}}
    </div>
  </div>
{{/link-to}}
