{{#link-to 'database' database class="panel-link"}}
  <div class="panel panel-default panel-subdued database">
    <div class="panel-heading">
      <h5>{{database.handle}}</h5>
    </div>
    <div class="panel-body">
      <span class="service-badge">
        <span class="service-name">{{database.type}}</span>
        <span class="service-container-count">&nbsp;</span>
      </span>
    </div>
  </div>
{{/link-to}}
