<header class="resource-header">
  <div class="layout-container">

    <div class="resource-title">
      <i class="resource-icon resource-environment"></i>
      <h1>
        {{model.handle}}
      </h1>
    </div>

    {{stack-metadata model=model}}
  </div>
</header>
