<div class="panel-body panel-body--aptable">
  <table class="aptable">
    <thead>
      <th>Product</th>
      <th>Permissions</th>
    </thead>
    <tbody>
      <tr>
        <td class="aptable__row-heading">Risk Assessments</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Policies & Procedures</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Workforce Training</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Application Security</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Incident Response</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Contract Management</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
      <tr>
        <td class="aptable__row-heading">Security Reviews</td>
        <td class="aptable__capitalized-list">Manage</td>
      </tr>
    </tbody>
  </table>
</div>
