<div class="panel-body">
  <h3 class="role-details__header">
    The Gridiron Owners role can administer your security management program.
  </h3>
  <p>
    Users in this role have full permission over Gridiron, and can add/remove other Gridiron users. This role does not grant any Enclave permissions.
  </p>
</div>
