<div class="panel-body">
  <h3 class="role-details__header">
    The Account Owners role has total permission over your Aptible account.
  </h3>
  <p>
    Account Owners can edit billing and plan information, add and edit
    Platform resources, and manage all Compliance products.
  </p>
</div>
