<div class="panel-body">
  <h3 class="role-details__header">
    The Enclave Owners has total permission over all of your Enclave platform resources.
  </h3>
  <p>
    Users in this role can administer Aptible Enclave users, roles, environments, and resources.
  </p>
</div>
