<div class="panel-body">
  <h3 class="role-details__header">
    The Compliance Owners role has read and write permission over all of
    your Compliance Program
  </h3>
  <p>
    Users in this role can add/delete compliance roles, risk assessments,
    policies, procedures, and security controls.
  </p>
</div>
