<header class="resource-header">
  <div class="layout-container">
    <div class="resource-title">
      <i class="resource-icon resource-org"></i>
      <h1>{{organization.name}} Roles</h1>
    </div>
  </div>
</header>