<div class="panel-body">
  <h3 class="role-details__header">
    The Platform Owners role has read and write permission over all of your
    platform resources.
  </h3>
  <p>
    Any user you add to this roll will be able to add and delete Platform users
    and roles, environments, apps, and databases.
  </p>
</div>
