<nav class="layout-sidebar">
  <ul class="nav sidebar-nav">
    <li class="title">
      Overview
    </li>
    {{#activating-item currentWhen="organization.members" tagName="li"}}
      {{link-to "Members" "organization.members"}}
    {{/activating-item}}
    {{#activating-item currentWhen="organization.roles" tagName="li"}}
      {{link-to "Roles" "organization.roles"}}
    {{/activating-item}}
    {{#activating-item currentWhen="organization.contact-settings" tagName="li"}}
      {{link-to "Contact Settings" "organization.contact-settings"}}
    {{/activating-item}}
  </ul>
</nav>
