{{spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Your Organization"
  onSave="onSave"
}}

<div class="container main-body">
  <div class="panel panel-striped">
    <div class="panel-section">
      <div class="panel-section-title">About Your Organization</div>
      {{textarea value=model.aboutOrganization rows="5" class="form-control" name="aboutOrganization"}}
    </div>

    <div class="panel-section">
      <div class="panel-section-title">Description of your productions</div>
      {{textarea value=model.aboutProduct rows="5" class="form-control" name="aboutProduct"}}
    </div>
  </div>
</div>
