{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="About Your Organization"
  onSave="onSave"
  profile=model
}}

<div class="description">
  <p>
    This section is designed to give a broad overview of your business. Phrase your answers for a general audience and use the third person (E.g.: WidgetCo makes digital widgets for widgeteers...).
  </p>
  <p>
    The bulleted questions are only intended to help you form your descriptions - they are not required.
  </p>
</div>
{{/spd-nav}}

<div class="container main-body">
  {{partial 'spd/organization'}}
</div>
