{{spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Your Organization"
}}

<div class="container main-body">
  <div class="panel panel-striped">
    <div class="panel-section">
      <div class="panel-section-title">About Your Organization</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      {{textarea value=model.aboutOrganization rows="5" class="form-control" name="aboutOrganization"}}
    </div>

    <div class="panel-section">
      <div class="panel-section-title">Description of your productions</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      {{textarea value=model.aboutProduct rows="5" class="form-control" name="aboutProduct"}}
    </div>
  </div>
</div>
