<div class="setup-step">
  <h1 class="setup-step-title">Your Organization</h1>

  <div class="panel panel-striped">
    <div class="panel-section">
      <div class="panel-section-title">About Your Organization</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      <textarea rows=5 class="form-control" autofocus="true"></textarea>
    </div>

    <div class="panel-section">
      <div class="panel-section-title">Description of your productions</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
      </p>

      <textarea rows=5 class="form-control"></textarea>
    </div>
  </div>

  <div>
    {{link-to "Continue →" 'setup.locations' class="btn btn-primary btn-lg"}}
  </div>
</div>
