{{spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="About Your Organization"
  onSave="onSave"
  profile=model
}}

<div class="container main-body">
  {{partial 'spd/organization'}}
</div>
