{{#login-box}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-focused upgrade-request-modal-panel">
        <div class="panel-heading">
          <h3>Upgrade Request Completed</h3>
        </div>
        <div class="panel-body">
          <p>
          Your request has been sent to your Aptible account manager. Our team will contact you soon with details.
          </p>

          <button class="btn btn-primary btn-block btn-lg" {{action "confirm"}}>Ok</button>
        </div>
      </div>
    </div>
  </div>
{{/login-box}}
