<div class="risk-assessment__index">
  <div class="risk-assessment__filters">
    {{predisposing-condition-filters filters=filters}}
  </div>

  <div class="aptable">
    {{predisposing-condition-list filters=filters predisposingConditions=model}}
  </div>
</div>
