<div class="risk-assessment-container">
  <div class="risk-assessment__index">

    <div class="risk-assessment__filters">
      <div class="pull-right">
        <label class="risk-assessment__filters__label">&nbsp;</label>
        <button type="submit" class="btn btn-primary btn-sm">Create Predisposing Condition</button>
      </div>

      {{predisposing-condition-filters filters=filters}}
    </div>

    <div class="aptable">
      {{predisposing-condition-list filters=filters predisposingConditions=model}}
    </div>
  </div>
</div>