{{#each model as |logDrain|}}
  <div class="log-drain panel panel-subdued">
    <div class="panel-heading with-actions">
      <h3>{{logDrain.drainHost}}:{{logDrain.drainPort}}</h3>
    </div>
  </div>
{{/each}}

{{link-to 'Add Log' 'stack.log-drains.new' class="btn btn-primary"}}
