<div class="row">
  <div class="col-xs-3">
    {{#link-to 'training.index' tagName='div'}}
      {{training-overall-progress criteria=model organization=organization}}
    {{/link-to}}
  </div>

  {{#each model as |criterion|}}
    <div class="col-xs-3">
      {{#link-to 'training.criterion' criterion.handle tagName='div'}}
        {{criterion-completion-progress criterion=criterion organization=organization}}
      {{/link-to}}
    </div>
  {{/each}}
</div>