<div class="container main-body">

  <!-- Filter -->
  <div class="risk-assessment__filters form-inline">
    <div class="form-group">
      <label class="risk-assessment__filters__label">Sort</label>
      <select class="form-control input-sm">
        <option>Most Relevant</option>
        <option>Least Relevant</option>
        <option>Event Name (A-Z)</option>
        <option>Event Name (Z-A)</option>
      </select>
    </div>

    <div class="form-group">
      <label class="risk-assessment__filters__label">Relevance</label>
      <select class="form-control input-sm">
        <option>Severe</option>
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>

    <div class="form-group">
      <label class="risk-assessment__filters__label">Search</label>
      <i class="fa fa-search"></i>
      <input type="search" class="risk-assessment__search-input form-control input-sm">
    </div>

    <div class="pull-right">
      <label class="risk-assessment__filters__label">&nbsp;</label>
      <button type="submit" class="btn btn-primary btn-sm">Create Threat Event</button>
    </div>
  </div>


  <table class="base-table" cellspacing="0">
    <thead>
      <tr>
        <th class="base-table__risk-threat-events">Threat Events</th>
        <th>Relevance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |threatEvent|}}
        <tr>
          <td class="base-table__risk-threat-events">

          </td>
          <td>
            {{#if threatEvent.relevance}}
              <span class="risk-assessment-component__chip risk-assessment-component__chip--{{threatEvent.relevance}}"></span>
            {{/if}}
          </td>
          <td class="base-table__actions">
            {{link-to 'View' 'threat-event' threatEvent class="btn btn-link"}}
            {{link-to 'Edit' 'threat-event.edit' threatEvent class="btn btn-link"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>