{{#login-box}}
  <div class="row">
    {{partial 'signup/form'}}

    <div class="col-xs-5">
      <div class="welcome-info">
        {{#if invitation}}
          <h2>
            {{invitation.inviterName}} invited you to join {{invitation.organizationName}} on Aptible.
          </h2>
        {{/if}}

        <p>
          Aptible is a deployment platform built to automate HIPAA compliance.
        </p>
      </div>
    </div>
  </div>
{{/login-box}}
