{{#login-box}}
  {{#if flashMessages.queue}}
    <div class="notifications">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
  {{/if}}

  <div class="row">
    {{partial 'signup/form'}}

    <div class="col-xs-5">
      <div class="welcome-info">
        {{#if invitation}}
          <h2>
            {{invitation.inviterName}} invited you to join {{invitation.organizationName}} on Aptible.
          </h2>
        {{/if}}

        <p>
          Aptible is a deployment platform built to streamline HIPAA compliance.
        </p>
      </div>
    </div>
  </div>
{{/login-box}}
