{{#login-box}}
  <div class="row">
    {{partial 'signup/form'}}

    <div class="col-xs-5">
      <div class="welcome-info">
        <h2>
          Aptible is a deployment platform built to automate HIPAA compliance
        </h2>

        {{#if invitation}}
          <h3>
            You have been invited by {{invitation.inviterName}}
            to join organization {{invitation.organizationName}}.
          </h3>
        {{/if}}
      </div>
    </div>
  </div>
{{/login-box}}
