{{#bs-tooltip title=userStatus.statusText}}
  <span class="badge status-{{userStatus.status}}">
    <i class="fa fa-check"></i>
    <i class="fa fa-exclamation-circle"></i>
    {{userStatus.title}}
  </span>
{{/bs-tooltip}}
