{{#bs-tooltip title=hoverMessage}}
  <span class="badge status-{{enrollmentStatus}}">
    <i class="fa fa-check"></i>
    <i class="fa fa-exclamation-circle"></i>
    {{name}}
  </span>
{{/bs-tooltip}}
