{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Data Environments"
}}
  <div class="description">
    <p>
      A data environment is any information system your company uses to store or transmited protected health information (PHI).
    </p>

    <p>
      Don't see a system that you use here? <a href="http://contact.aptible.com">Contact Support</a>
    </p>
  </div>
{{/spd-nav}}

<div class="container main-body">
  <div class="panels">
    {{data-environment-index
      dataEnvironmentSchema=model
      dataEnvironmentDocument=schemaDocument}}
  </div>
</div>


