{{#each locationProperties as |property|}}
  <div>
    {{component (concat 'schema-field-' property.inputType) property=property document=values}}
  </div>
{{/each}}

<button class="btn btn-primary" type="submit" {{action "addLocation" location}}>Add</button>