<div class="form-group">
  <label for="description">Location description</label>
  <input class="form-control" name="description" autofocus="true"/>
</div>

<div class="form-group">
  <label for="description">Address</label>
  <input class="form-control" name="address" />
</div>

<div class="form-group">
  <div class="row">
    <div class="city col-xs-6">
      <label for="description">City</label>
      <input class="form-control" name="City" />
    </div>
    <div class="state col-xs-3">
      <label for="description">State</label>
      <input class="form-control" name="State" />
    </div>
    <div class="zip col-xs-3">
      <label for="description">Zip</label>
      <input class="form-control" name="Zip" />
    </div>
  </div>
</div>

<button class="btn btn-primary" type="submit">Add</button>


