<ul class="nav nav-pills resource-navigation">
  <li class="active">{{link-to 'Services' 'apps.show'}}</li>
  <li>{{link-to 'Domains' 'apps.show.domains'}}</li>
  <li>{{link-to 'Activity' 'apps.show.operations'}}</li>
  <li><a href="#">Logging</a></li>
</ul>

