{{#if isDevelopment}}
  <div class="welcome-info">
    <section class="welcome-section">
      <h2>Your First Environment</h2>
      <p>
        Your first Aptible environment will be deployed on a shared infrastructure stack, perfect for staging or development.
      </p>
      <p>
        Just remember: Only store sensitive or regulated data in a dedicated environment. Select the option below to switch to a plan that includes a dedicated stack.
      </p>
    </section>
  </div>
{{/if}}

{{#if isPlatform}}
  <div class="welcome-info">
    <section class="welcome-section">
      <h2>Your First Environment</h2>
      <p>
        You have selected a Platform plan, which includes stack of infrastructure dedicated solely for your own use. You will also have the ability to create environments on shared stacks, perfect for creating network isolation for staging or QA.
      </p>
    </section>
  </div>
{{/if}}