{{#if isDevelopment}}
  <div class="welcome-info">
    <section class="welcome-section">
      <h2>Your First Dev Environment</h2>

      <p>
        Aptible Dev environments are deployed into a shared infrastructure that is perfect for staging and development.  No base fee, pay only for the resources you use. Just remember: PHI is only permitted in PHI-Ready environments, not Dev environments.
      </p>
    </section>

    <section class="welcome-section">
      <h4>Create an app to run your code</h4>

      <p>
        Aptible is language- and framework-agnostic. If it runs on Linux, it runs on Aptible.
      </p>
    </section>

    <section class="welcome-section">
      <h4>Add a database</h4>

      <p>
        Databases are further isolated in a private subnet, addressable only from within the Aptible network, and accessible only to the account's own apps, or via authenticated tunnel.
      </p>
    </section>
  </div>
{{/if}}

{{#if isPlatform}}
  <div class="welcome-info">
    <section class="welcome-section">
      <h2>Your own PHI-ready environment</h2>
      <p>
        Each Aptible Platform Environment's resources are deployed into an isolated network of dedicated instances. Access to and from applications is strictly controlled and logged for auditing.
      </p>
    </section>

    <section class="welcome-section">
      <h4>Create an app to run your code</h4>

      <p>
        Aptible is language- and framework-agnostic. If it runs on Linux, it runs on Aptible.
      </p>
    </section>

    <section class="welcome-section">
      <h4>Create a database to store PHI</h4>

      <p>
        Databases are further isolated in a private subnet, addressable only from within the network, and accessible only to the account's own apps, or via authenticated tunnel.
      </p>
    </section>
  </div>
{{/if}}