<div class="operation-icon">
  {{operation-icon type=operation.type status=operation.status}}
</div>

<div class="operation-author">
  {{operation.userName}}
</div>

<div class="operation-type">
  {{operation.verb}}
</div>

<div class="operation-date">
  on {{format-utc-timestamp operation.createdAt}}
</div>
