<div class="operation-icon">
  {{#bs-tooltip placement="bottom"}}
    {{operation-icon type=operation.type status=operation.status}}
  {{/bs-tooltip}}

</div>

<div class="operation-author">
  {{operation.userName}}
</div>

<div class="operation-type">
  {{operationAction}}
</div>

<div class="operation-date">
  on {{format-utc-timestamp operation.createdAt}}
</div>
