<div class="operation-icon">
  {{operation-icon type=operation.type status=operation.status}}
</div>

<div class="operation-author">
  {{operation.userName}}
</div>

<div class="operation-type">
  {{operation.type}}ed
</div>

<div class="operation-date">
  on {{operation.createdAt}}
</div>