<a {{action 'resend' invitation}}
    href="#"
    class="btn btn-default"
    title="Resend invitation to {{invitation.email}}">
  <i class="fa fa-refresh"></i>
  <span class="button-label">
    Resend
  </span>
</a>
