<main class="layout-content spd-content">
  <header class="new-header">
    <div class="container">
      <div class='header-left'>
        <h2 class="sub-title">Compliance Engines</h2>
        <h1 class="title">Workforce Training</h1>
      </div>
      {{#aptible-ability permittable=model.organizationProfile scope='manage'}}
        <div class="header-right">
          <ul class="header-actions">
            {{#if model.authorizationContext.enabledFeatures.spd}}
              <li>
                {{#link-to 'gridiron-settings.team' classNames='btn btn-default'}}
                  Manage Workforce
                {{/link-to}}
              </li>
            {{/if}}
          </ul>
        </div>
      {{/aptible-ability}}
    </div>
  </header>

  <div class="container main-body">

    <section class="compliance-section">
      <header>
        <span class="header-title">{{model.organization.name}} Training Overview</span>
      </header>
      {{training-progress-bar complianceStatus=model}}
    </section>

    <section class="compliance-section">
      <header>
        <span class="header-title">Training Status By User</span>
      </header>

      <div class="resource-list-grid workforce-members">
        <div class="row">
          {{#each model.training.userStatuses as |userStatus|}}
            <div class="col-xs-4">
              {{user-training-item userStatus=userStatus}}
            </div>
          {{/each}}
        </div>
      </div>
    </section>

  </div>
</main>

<nav class="layout-sidebar">
  {{outlet 'sidebar'}}
</nav>