<main class="layout-content spd-content">

  <header class="new-header">
    <div class="container">
      <div class='header-left'>
        <h2 class="sub-title">Compliance Engines</h2>
        <h1 class="title">Workforce Training</h1>
      </div>
      <div class="header-right">
        <ul class="header-actions">
          <li>
            {{#link-to 'compliance-settings.team' classNames='btn btn-default'}}
        Manage Workforce
      {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container main-body">

    <section class="compliance-section">
      <header>
        <span class="header-title">{{model.organization.name}} Training Overview</span>
      </header>
      {{training-progress-bar complianceStatus=model}}
    </section>

    <section class="compliance-section">
      <header>
        <span class="header-title">Training Status By User</span>
      </header>

      <div class="resource-list-grid workforce-members">
        <div class="row">
          {{#each model.training.userStatuses as |userStatus|}}
            <div class="col-xs-4">
              {{user-training-item userStatus=userStatus}}
            </div>
          {{/each}}
        </div>
      </div>
    </section>


  </div>
</main>