<header class="resource-header">
  <div class="layout-container">
    <div class="resource-title">
      <i class="resource-icon resource-environment"></i>
      <h1>{{organization.name}} Training</h1>
    </div>
  </div>
</header>

<div class="layout-container">
  {{partial 'training/nav'}}
  {{outlet}}
</div>