<header class="resource-header">
  <div class="layout-container">

    <div class="pull-right">
      {{#link-to 'setup.team' classNames='btn btn-default'}}
        Manage Workforce
      {{/link-to}}
    </div>

    <div class="resource-title">
      <i class="resource-icon resource-environment"></i>
      <h1>{{organization.name}} Training</h1>
    </div>

  </div>
</header>

<div class="layout-container">
  {{outlet}}
</div>