{{#each stack in stacks}}

  {{partial 'stack/header'}}

  <div class="container">
    {{partial 'stack/nav'}}

    <div class="resource-list">
      <div class="row">
        {{#each app in stack.apps}}
          <div class="col-xs-3">
            {{partial 'stack/app'}}
          </div>
        {{/each}}
      </div>

      <div class="resource-list-actions">
        {{#aptible-ability scope="manage" user=session.currentUser stack=stack}}
          {{link-to 'Create App' 'stack.new-app' stack class="btn btn-primary"}}
        {{/aptible-ability}}
      </div>
    </div>
  </div>

{{/each}}
