<div class="resource-list-grid">
  <div class="row">
    {{#each model as |app|}}
      <div class="col-xs-3">
        {{partial 'stack/app'}}
      </div>
    {{/each}}
  </div>

  <div class="resource-actions">
    {{#aptible-ability scope="manage" user=session.currentUser stack=stack}}
      {{link-to 'Create App' 'apps.new' class="btn btn-primary"}}
    {{/aptible-ability}}
  </div>
</div>
