<header class="new-header">
  <div class="container">
    <div class='header-left'>
      <h2 class="sub-title">Security Program</h2>
      <h1 class="title">Workforce</h1>
    </div>
  </div>
</header>

<div class="container main-body">
  {{spd-errors errors=errors}}

  <div class="row">
    <div class="col-xs-6">
      {{edit-role-panel
        role=model.trainingOnlyRole
        invitations=model.invitations
        openInviteModal="openInviteModal"
        addMember="addMember"
        removeMember="removeMember"
        resendInvitation="resendInvitation"
        deleteInvitation="deleteInvitation"
      }}
    </div>


    <div class="col-xs-6">
      {{edit-role-panel
        role=model.adminRole
        invitations=model.invitations
        openInviteModal="openInviteModal"
        addMember="addMember"
        removeMember="removeMember"
        resendInvitation="resendInvitation"
        deleteInvitation="deleteInvitation"
      }}
    </div>
  </div>
</div>
