{{spd-errors errors=errors}}

<div class="spd-filterbar">
  <div class="pull-right">
    <button class="btn btn-xl btn-primary" {{action "showInviteModal"}}>Invite more users</button>
  </div>
</div>

{{team-index
  teamDocument=schemaDocument
  properties=properties}}
