<div class="risk-assessment__index">
  <div class="risk-assessment__filters">
    {{vulnerability-filters filters=filters}}
  </div>

  <div class="aptable">
    {{vulnerability-list filters=filters vulnerabilities=model}}
  </div>
</div>
