<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default panel-subdued">
      <div class="panel-heading">
        <h3>Create a new app</h3>
      </div>
      <div class="panel-body">
        <form role="form">
          {{#unless model.isValid}}
            <div class="alert alert-warning fade in">
              <a class="close" data-dismiss="alert">×</a>
              {{#each model.errors.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
            </div>
          {{/unless}}

          <div class="form-group-last">
            <label class="block">
              App handle
              <span class="label-helper">Lowercase alphanumerics, periods, and dashes only</span>
            </label>
            {{input class="form-control app-handle" value=model.handle}}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="resource-actions">
    <button class="btn btn-default" {{action 'cancel'}}>
      Cancel
    </button>
    <button class="btn btn-primary" {{action 'create'}}>
      Save App
    </button>
</div>
