<header class="navbar navbar-static-top current-user-header">
  <div class="container">
    <div class="navbar-header">
      {{link-to "Aptible" "index" class="navbar-brand"}}
    </div>

    <nav>
      <ul class="nav nav-pills navbar-right user-nav">
        <li class="dropdown current-user">
          {{#dashboard-dropdown title=session.currentUser.name defaultPath="index"}}

            {{#each session.currentUser.organizations as |organization|}}
              {{dashboard-dropdown-organization-menu organization=organization}}
              {{dashboard-dropdown-divider}}
            {{/each}}

            {{dashboard-dropdown-user-menu user=session.currentUser}}

          {{/dashboard-dropdown}}
        </li>
      </ul>
    </nav>
  </div>
</header>
