<header class="dashboard-header">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb pull-left">
        <li>
        <div class="dropdown-breadcrumbs">
          {{#dashboard-dropdown title=sectionTitle defaultPath=sectionPath}}
            {{#dashboard-dropdown-item}}
              {{link-to "Apps" "apps.index"}}
            {{/dashboard-dropdown-item}}
            {{#dashboard-dropdown-item}}
              {{link-to "Databases" "databases.index"}}
            {{/dashboard-dropdown-item}}
            {{#dashboard-dropdown-item}}
              <a href="https://dashboard.aptible.com/compliance">Compliance</a>
            {{/dashboard-dropdown-item}}
          {{/dashboard-dropdown}}
        </div>
        </li>
      </ol>
    </div>
  </div>
</header>
