<footer class="aptible-footer-small">
  <div class="container">
    <img class="aptible-mark" src="/assets/aptible-mark-gray.jpg" alt="Aptible" />
    <ul class="nav nav-pills footer-nav pull-left">
      <li class="copyright">
        <strong>Aptible, Inc</strong>
        © 2015
      </li>
      <li class="phone">
        (866) 296 5003
      </li>
      <li class="email">
        <a href="mailto:support@aptible.com">support@aptible.com</a>
      </li>
    </ul>


    <ul class="nav nav-pills footer-nav pull-right">
      <li>
        {{#link-to-aptible app="support" path="quickstart"}}Documentation{{/link-to-aptible}}
      </li>
      <li>
        {{#link-to-aptible app="support" path="topics"}}Support{{/link-to-aptible}}
      </li>
      <li>
        <a href="https://status.aptible.com/">Status</a>
      </li>
    </ul>
  </div>
</footer>
