 <header class="navbar navbar-static-top primary-nav-header">
  <div class="container">
     <ul class="nav nav-pills">
      <li class="active">
        {{link-to "Apps & Databases" "apps.index"}}
      </li>
      <li>
        {{#link-to-aptible app="legacy-dashboard" path="compliance"}}Compliance{{/link-to-aptible}}
      </li>
    </ul>
  </div>
</header>
