<footer class="aptible-footer-small">
  <div class="aptible-mark">Aptible</div>
  <ul class="nav nav-pills footer-nav pull-left">
    <li class="copyright">
      <strong>Aptible, Inc.</strong>
      © 2016
    </li>
  </ul>


  <ul class="nav nav-pills footer-nav pull-right">
    <li>
      {{#link-to-aptible app="support" path=""}}Documentation{{/link-to-aptible}}
    </li>
    <li>
      {{#link-to-aptible app="contact" path=""}}Support{{/link-to-aptible}}
    </li>
    <li>
      <a href="http://status.aptible.com/">Status</a>
    </li>
  </ul>
</footer>
