<footer class="aptible-footer">
  <div class="aptible-mark">
    <div class="mark"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-3">
            <ul class="nav">
              <li class="title">My Aptible</li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="nav">
              <li class="title">Support</li>
              <li>
              <a href="https://www.aptible.com/support">Contact Us</a>
              </li>
              <li>
              <a href="http://support.aptible.com">Knowledge Base</a>
              </li>
              <li>
              <a href="https://www.aptible.com/legal/responsible_disclosure.html">Responsible Disclosure</a>
              </li>
              <li>
              <a href="http://status.aptible.com/">Status</a>
              </li>
              <li>
              <a href="https://www.aptible.com/legal">Legal</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav">
              <li class="title">
              Aptible, Inc.
              <span>© 2014</span>
              </li>
            </ul>
            <div class="row">
              <div class="col-sm-6">
                <ul class="split">
                  <li class="addr">
                  <div class="addr1">455 Mission Bay Blvd South</div>
                  <div class="city-state-zip">San Francisco, CA 94158</div>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="split">
                  <li>(866) 296-5003</li>
                  <li>
                  <a href="mailto:hello@aptible.com">hello@aptible.com</a>
                  </li>
                  <li>
                  <div class="sm"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
