<header class="navbar navbar-static-top status-nav-header">
  <div class="container">
    <div class="nav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://support.aptible.com">Support</a></li>
        <li class="current-status">
        <a href="http://status.aptible.com/">
          <i class="current-status-indicator green"></i>
          <span class="current-status-link" data-original-title="" title="">Status</span>
        </a>
        </li>
      </ul>
    </div>
  </div>
</header>
