<div class="activate-notice">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Cannot create a new {{resourceType}}</h1>
      <h2>
        Before you can create a new {{resourceType}}, you must verify your email.
      </h2>
    </div>
  </div>
</div>