{{#bs-tooltip placement="bottom" title=gitRef bs-container=false}}
  <span>{{shortenedRef}}</span>
{{/bs-tooltip}}

{{#click-to-copy text=gitRef as |copied|}}
  {{#if copied}}
    Copied
  {{else}}
    <a href='#'>Copy</a>
  {{/if}}
{{/click-to-copy}}


