<div class="container focus" id="main-yield-wrapper" style="min-height:873px">
  <div class="page-header">
    <div class="login-box-logo"></div>
  </div>
  <div class="row focus-form">
    <div class="col-xs-6 col-xs-offset-3">
      <h3 class="heading">
        Logging you out...
      </h3>
    </div>
  </div>
</div>
